@charset "utf-8";

/* CSS reset */
html {-webkit-text-size-adjust:none;}
body {color:#777;background:#f8f9f9;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;outline:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1;}
body,button,input,select,textarea {font:13px/18px optima;helvetica,arial,sans-serif;}
input,button,select,textarea {font-size:100%;color:#777;outline:none;-webkit-appearance:none;}
textarea {resize:none;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
iframe {display:block;}
abbr,acronym {border:0;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
q:before,q:after {content:"";}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
strong {font-weight:bold;}
a {text-decoration:none;color:#006aad;}
a:hover {text-decoration:none;}
a:focus {outline:none;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#959595 !important;word-wrap:break-word;word-break:break-all;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#959595 !important;word-wrap:break-word;word-break:break-all;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#959595 !important;word-wrap:break-word;word-break:break-all;}

/*position*/
.tl {text-align:left;}
.tc {text-align:center;}
.tr {text-align:right;}
.bc {margin-left:auto;margin-right:auto;}
.fl {float:left;display:inline;}
.fr {float:right;display:inline;}
.cb {clear:both;}
.clear {clear:both;height:0;overflow:hidden;}
.cl {clear:left;}
.cr {clear:right;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}
.vm {vertical-align:middle;}
.pr {position:relative;}
.pa {position:absolute;}
.zoom {zoom:1;}
.hidden {visibility:hidden;}
.none {display:none;}
.block {display:block;}
.inline {display:inline;}
.hand {cursor:pointer;}


/*poi day*/
.planday { margin:2.8125%; border:1px solid #cfcfcf; background:#fff; box-shadow:0 0 3px rgba(0,0,0,0.15);}
.planday .titles { height:40px; margin:0 10px; border-bottom:1px solid #cfcfcf;}
.planday .titles .title { float:left; font-size:12px; line-height:40px; color:#3399cc;}
.planday .titles .title em { font-size:18px; font-weight:700;}

.planday .routebox { margin:5px 0 10px; padding:10px; background:skyblue; border-radius:3px; color:#444;}
.planday .routebox .citys { float:left;}
.planday .routebox .citys .city { float:left; min-width:56px; text-align:center;}
.planday .routebox .citys .name { max-width:57px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:14px; line-height:16px;}
.planday .routebox .citys .time { margin-top:8px; font-size:12px; line-height:14px;}
.planday .routebox .citys .time span { display:inline-block; padding-left:11px; background:url(../images/app/route_icon_time.png) no-repeat 0 center; background-size:8px 8px;}
.planday .routebox .citys .icon { float:left; padding-top:1px;}
.planday .routebox .citys .icon img { display:block;}
.planday .routebox .infos { float:left; width:36.153%; margin-left:6px; border-left:1px solid lightblue; padding-left:6px; font-size:12px; line-height:14px;}
.planday .routebox .infos p { width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-top:10px;}
.planday .routebox .infos p:first-child { margin-top:0;}
.planday .routebox .traffic-remark { float:left; width:96%; margin-top:12px; padding:4px 6px; font-size:12px; background-color:skyblue; color:coral;}
.planday .poi-remark { clear:both; color:coral; margin-left:-43px; background-color:bisque; padding:4px 6px; font-size:12px; margin-top:6px;}
div.poi-remark-bottom { clear:both; color:coral; border:1px dashed coral; background-color:bisque; padding:4px 6px; font-size:12px; margin:10px;}

.planday .content { padding:10px;}
.planday .content .intros .day-title { font-size:15px; margin-bottom:10px; color:#444; font-weight:700;}
.planday .places { margin-top:5px; }
.planday .places .icon { float:left; margin:0 0 10px -31px; padding-top:1px;}
.planday .places .icon img { display:block;}
.planday .places .tag { float:left; margin:0 10px 10px 0; background:#3399cc; padding:0 10px; border-radius:10px; color:#fff; line-height:21px;}

.planday .poilists li { position:relative; padding:10px 0 10px 44px; overflow:hidden; /*background:url(../images/app/plan_poiline.png) no-repeat 10px center; background-size:1px 100%; */}
.planday .poilists .firstmask { position:absolute; left:0; top:0; width:21px; height:16px; background:#fff;}
.planday .poilists .lastmask { position:absolute; left:0; top:37px; width:21px; height:100%; background:#fff;}
.planday .poilists .icon { position:absolute; left:0; top:16px;}
.planday .poilists a { display:block;}
.planday .poilists a .title { color:#006aad;}
.planday .poilists .imgs { float:left; margin-left:-38px; margin-top:3px;}
.planday .poilists .imgs img { float:left; width:32px; height:32px;}
.planday .poilists .cnt { color:#777;}
.planday .poilists .title { font-size:16px; width:100%; overflow:hidden;text-overflow:ellipsis;white-space:nowrap; color:#323232;}
.planday .poilists .txts { padding:6px 0 0 0; font-size:12px; line-height:12px;}
.planday .poilists .stars { float:left; padding:2px 7px 0 0;}
.planday .poilists .stars img { float:left; margin-right:3px;}
.planday .poilists .txt { float:left;}
.planday .poilists .info {}
.planday .poilists .info span { margin-left:10px;}
.planday .poilists .info span:first-child { margin-left:0;}
.planday .poilists .info em { color:#5fa678;}
.planday .poilists .mark {}
.planday .poilists li.hotels { background:#fff;}
.planday .poilists li.hotels .title { white-space:normal; color:#323232;}
.planday .poilists li.hotels .addr {}

.planday .intros { padding-top:8px; padding-bottom:8px; border-top:1px dashed #ccc; }
.planday .intros-first { border-top:none; }
.planday .intro { left:0; top:13px; width:100%;}
.planday .btn_updown { background:#fafafa; border-top:1px solid #cfcfcf; line-height:38px; text-align:center; cursor:pointer;}
.btn_updown span { padding-right:15px; background:url(../images/app/drop_arrow.png) no-repeat right center; background-size:10px 5px;}
.btn_updown .fold { background-image:url(../images/app/drop_arrow2.png);}

/*box*/
.planbox { margin:2.7%; border:1px solid #cfcfcf; background:#fff; padding:10px; box-shadow:0 0 3px rgba(0,0,0,0.15);}
.planbox .title { font-size:16px; line-height:20px; color:#5fa678; width:100%; overflow:hidden; white-space:nowrap;text-overflow:ellipsis;}
.planbox .title em { font-size:18px; font-weight:700;}
.planbox .texts { padding:10px 0;word-wrap:break-word;word-break:break-all;}
.planbox .datetime { font-size:12px; line-height:14px; color:#9b9b9b;}

/*mulu*/
.pagemulu { position:fixed; z-index:99; right:2.6%; bottom:8px;}
.pagemulu .icon { display:block; width:104px; height:41px; background:url(../images/app/mulu2.png) no-repeat; background-size:104px 41px;}


.poupu_mask { position:absolute; z-index:999; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.6);}

/*popup mulu*/
.popup_mulu { position:absolute; opacity:0; z-index:999; left:2.7%; bottom:56px; width:280px; transition: opacity 0.5s;}
.popup_mulu .toptit { position:relative; font-size:15px; line-height:44px; border-bottom:1px solid #ebebeb;}
.popup_mulu .toptit .title { padding-left:15px; margin-right:44px; color:#000; background:#fff; border-top-left-radius:4px;}
.popup_mulu .toptit .close { position:absolute; top:0; right:0; height:44px; width:44px; background:#ebebeb url(../images/app/popup_close.png) no-repeat center center; background-size:18px 18px; cursor:pointer; border-top-right-radius:4px;}
.popup_mulu .content { width:100%; height:200px; max-height:600px; overflow:auto; background:#fff; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
.popup_mulu .lists { padding:10px 25px; background:url(../images/app/mulu_bg.png) no-repeat 45px 0; background-size:2px 100%;}
.popup_mulu .lists li { position:relative; height:42px; padding:15px 0 15px 52px;}
.popup_mulu .lists a { display:block; color:#777;}
.popup_mulu .lists .day { position:absolute; left:0; top:15px; width:42px; height:42px; background:url(../images/app/mulu_round1.png) no-repeat; background-size:42px 42px;}
.popup_mulu .lists .day span { display:block; font-size:15px; line-height:42px; font-weight:700; text-align:center; color:#fff;}
.popup_mulu .lists .tit { font-size:15px; line-height:25px; color:#505050;}
.popup_mulu .lists .txt { line-height:16px; color:#d2d2d2;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.popup_mulu .lists li.lastitem .day { background-image:url(../images/app/mulu_round3.png);}
.popup_mulu .lists li.firstitem .maskbg { position:absolute; left:0; top:-10px; width:42px; height:26px; background:#fff;}
.popup_mulu .lists li.lastitem .maskbg { position:absolute; left:0; bottom:-10px; width:42px; height:26px; background:#fff;}


/*popup poi*/
.popup_poi { position:absolute; opacity:0; z-index:999; left:0; top:0; margin:5.5%; transition: opacity 0.5s;}
.popup_poi .btmshade { position:absolute; left:0; bottom:0; width:100%; height:11px; background:url(../images/app/halftransp.png) repeat-x; background-size:100% 11px;}
.popup_poi .toptit { position:relative; font-size:15px; line-height:44px; border-bottom:1px solid #ebebeb;}
.popup_poi .toptit .title { padding-left:15px; margin-right:44px; color:#444; background:#fff; border-top-left-radius:3px;}
.popup_poi .toptit .close { position:absolute; top:0; right:0; height:44px; width:44px; background:#ebebeb url(../images/app/popup_close.png) no-repeat center center; background-size:18px 18px; cursor:pointer; border-top-right-radius:3px;}
.popup_poi .content { width:100%; height:200px; overflow:hidden; overflow-y:auto; background:#fff;}
.popup_poi .intros{ margin-left:17px;margin-right:17px;margin-top:0px; margin-bottom:0px;padding-top:8px; padding-bottom:8px; border-top:1px dashed #ccc; }
.popup_poi .intros-first { border-top:none;}
.popup_poi .intros .title { font-size:15px; margin-bottom:10px; color:#444; font-weight:700;}
.popup_poi .lists { margin-left:17px;margin-right:17px;margin-top:0px; margin-bottom:0px;padding-top:8px; padding-bottom:8px; border-top:1px dashed #ccc; }
.popup_poi .lists .title { font-size:15px; margin-bottom:10px; color:#444; font-weight:700;}
.popup_poi .lists .item { padding-left:48px; margin-bottom:10px;}
.popup_poi .lists .tit { float:left; margin-left:-48px; color:#444; font-weight:700;}

/*popup show*/
.popup_layshow { opacity:1;}

