@charset "utf-8";

/* CSS reset */
html {-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section {margin:0;padding:0;outline:none;}
article,aside,details,figcaption,figure,footer,header,menu,nav,section {display:block;}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1;}
body,button,input,select,textarea {font:13px/18px optima,helvetica, arial,sans-serif;}
input,button,select,textarea {font-size:100%;color:#777;outline:none;-webkit-appearance:none;}
textarea {resize:none;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
iframe {display:block;}
abbr,acronym {border:0;font-variant:normal;}
del {text-decoration:line-through;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:500;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
q:before,q:after {content:"";}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
strong {font-weight:bold;}
a {text-decoration:none;color:#006aad;}
a:hover {text-decoration:none;}
a:focus {outline:none;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#959595 !important;word-wrap:break-word;word-break:break-all;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#959595 !important;word-wrap:break-word;word-break:break-all;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#959595 !important;word-wrap:break-word;word-break:break-all;}

 .clearfix:after {clear: both; content: "."; display: block; height: 0; visibility: hidden;}   
 .clearfix {}

body {color:#777;}
.container { background:#F6F5F3; padding:10px 0 50px 28px; max-width:640px; margin:0 auto;}
.hd {border-bottom:1px solid #ccc; padding-bottom:10px; }
.hd .trip_info { margin-bottom:5px; font-size:14px;margin-top:5px; } 
.hd .trip_info span.trip_day_days { padding-left:20px; background:url('../images/app/trip-day-days.png') no-repeat; background-size:15px 15px; } 
.hd .trip_info span.trip_day_money { margin-left:10px; padding-left:20px; background:url('../images/app/trip-day-money.png') no-repeat; background-size:15px 15px; } 
.hd p { line-height:20px; font-size:14px;}
/*position*/
.trip_title { color:#17C4BB; font-size:15px;}
.trip_day { background:#fff; position:relative; margin-top:40px; }
.trip_day_hd { position:absolute; top:-20px; left:-20px; width:100%; }
.trip_day_hd .trip_day_key {width:40px; height:40px; border-radius:40px;background:#17C4BB; border:1px solid #17C4BB; text-align:center; line-height:40px; color:#fff; font-size:20px; display:block; float:left;}
.trip_day_hd .places { color:#17C4BB; font-size:14px; padding:3px 10px 0 5px; float:left;}
.trip_day_detail {padding:15px 15px 10px 15px; }
.trip_day_detail .trip_day_date {color:#ccc;}
.trip_day_detail .trip_day_title { border-bottom:1px dashed #ccc; color:#333; font-size:14px; font-weight:bold; padding:5px 0 ;}

.routebox { padding-top:12px; }
.routebox .citys { background:#E4EFF9; border-radius:5px 5px 0 0; height:40px; padding:10px 30px; text-align:center;}
.routebox .citys .route { display:inline-block; margin:0 auto;}
.routebox .citys .city { display:block; float:left; text-align:center; }
.routebox .citys .city .name { color:#333; font-size:11px;}
.routebox .citys .city .time { font-size:18px; font-weight:bold; color:#333; }
.routebox .citys .icon { display:block; width:40px; padding:0 10px; float:left;}
.routebox .citys .icon img { margin-top:8px;}
.routebox .infos { padding:0 30px; background:#42A0F7;  border-radius:0 0 5px 5px; color:#fff; line-height:25px; text-align:center;}

.trip_day_image {width:100%; height:101px; overflow:hidden; border-radius:5px; border:1px solid #96BFED; background:#F0EDE4; position:relative; cursor:pointer; margin-bottom:10px;} 
.trip_day_image .zoom_btn {position:absolute; top:35%; left:45%; border:1px solid #496F95;  background:#577EA5; color:#fff; padding:5px 10px; border-radius:5px; opacity:0.8; cursor:pointer;font-size:12px;}
.trip_day_image img { width:100%; } 
.trip_day_desc, .trip_day_traffic_note { padding-top:12px; }
.trip_day_traffic_note strong {color:#333;}

.trip_day_pois { background:#fff; padding:0 15px;}
.trip_day_pois .item { vertical-align: middle; margin-bottom:20px;}
.trip_day_pois .poi_cover_image_li { width:100%; height:120px; border-radius:5px 5px 0 0; overflow:hidden;}
.trip_day_pois .poi_cover_image_li img { width:100%; border-radius:5px 5px 0 0; margin-top:-20%;}
.item img { vertical-align:middle; display:inline-block;}
.item .poi_info { width:100%; height:45px; background:#F0F0F0; line-height:45px; color:#459DF6; font-size:14px; white-space:nowrap; text-overflow:ellipsis; position:relative; overflow:hidden;}
.item .poi_info img { margin-left:10px;}
.item .poi_info i.arrow { background:url('../images/app/arrow.png'); background-size:8px 13px; width:8px; height:13px; position:absolute; right:10px; top:15px;}

.pagemulu { position:fixed; z-index:99; left:10px; bottom:100px;}
.pagemulu .icon { display:block; width:44px; height:50px; background:url(../images/app/index.png) no-repeat; background-size:44px 50px; cursor:pointer;}
.poupu_mask { position:absolute; z-index:999; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}

/*popup mulu*/
.popup_mulu { position:absolute; opacity:0; z-index:999; left:5%; bottom:56px; width:90%; transition: opacity 0.5s;}
.popup_mulu .toptit { position:relative; font-size:15px; line-height:20px; }
.popup_mulu .toptit .title { padding-left:15px; margin-right:44px; color:#000; background:#fff; border-top-left-radius:4px;}
.popup_mulu .toptit .close { position:absolute; top:0; right:0; height:44px; width:44px; background:#fff url(../images/app/popup_close.gif) no-repeat center center; background-size:18px 18px; cursor:pointer; border-top-right-radius:4px;}
.popup_mulu .content { width:100%; height:200px; max-height:600px; overflow:auto; background:#fff; border-bottom-left-radius:4px; border-bottom-right-radius:4px;}
.popup_mulu .lists { padding:10px 25px; background:url(../images/app/mulu_bg.png) no-repeat 45px 0; background-size:2px 100%;}
.popup_mulu .lists li { position:relative; height:42px; padding:15px 0 15px 52px;}
.popup_mulu .lists a { display:block; color:#777;}
.popup_mulu .lists .day { position:absolute; left:0; top:15px; width:42px; height:42px; background:#17C4BB; border-radius:50%; background-size:42px 42px;}
.popup_mulu .lists .day span { display:block; font-size:15px; line-height:42px; font-weight:700; text-align:center; color:#fff;}
.popup_mulu .lists .tit { font-size:15px; line-height:25px; color:#17C4BB;}
.popup_mulu .lists .txt { line-height:16px; font-size:13px; color:#999; width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.popup_mulu .lists .title { line-height:25px; font-size:16px; color:#666; width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; padding-top:5px;}
.popup_mulu .lists li.firstitem .maskbg { position:absolute; left:0; top:-10px; width:42px; height:26px; background:#fff;}
.popup_mulu .lists li.lastitem .maskbg { position:absolute; left:0; bottom:-10px; width:42px; height:26px; background:#fff;}

.popup_mulu .bottom { position:relative; font-size:15px; line-height:44px; border-bottom:1px solid #ebebeb; background:#75A1CD; height:44px;}
.popup_mulu .bottom .title { padding-left:15px; margin-right:44px; color:#000; background:#fff; border-top-left-radius:4px;}
.popup_mulu .bottom .close { position:absolute; top:0; right:0; height:44px; width:44px; background:#ebebeb url(../images/app/popup_close.png) no-repeat center center; background-size:18px 18px; cursor:pointer; border-top-right-radius:4px;}

/*popup poi*/
.popup_poi { position:absolute; opacity:0; z-index:999; left:0; top:0; margin:50px 20px 20px 20px; transition: opacity 0.5s;}
.popup_poi .btmshade { position:absolute; left:0; bottom:0; width:100%; height:11px; background:url(../images/app/halftransp.png) repeat-x; background-size:100% 11px;}
.popup_poi .toptit { position:relative; font-size:15px; line-height:44px; border-bottom:1px solid #ebebeb;}
.popup_poi .toptit .title { padding-left:15px; margin-right:44px; color:#444; background:#fff; border-top-left-radius:3px;}
.popup_poi .toptit .close { position:absolute; top:0; right:0; height:44px; width:44px; background:#ebebeb url(../images/app/popup_close.png) no-repeat center center; background-size:18px 18px; cursor:pointer; border-top-right-radius:3px;}
.popup_poi .content { width:100%; height:200px; overflow:hidden; overflow-y:auto; background:#fff; border-radius:4px;}
.popup_poi .intros{ margin-left:17px;margin-right:17px;margin-top:0px; margin-bottom:0px;padding-top:8px; padding-bottom:8px; border-top:1px dashed #ccc; }
.popup_poi .intros-first { border-top:none;}
.popup_poi .intros .title { font-size:15px; margin-bottom:10px; color:#444; font-weight:700;}
.popup_poi .lists { margin-left:17px;margin-right:17px;margin-top:0px; margin-bottom:0px;padding-top:8px; padding-bottom:8px; border-top:1px dashed #ccc; }
.popup_poi .lists .title { font-size:15px; margin-bottom:10px; color:#444; font-weight:700;}
.popup_poi .lists .item { padding-left:48px; margin-bottom:10px;}
.popup_poi .lists .tit { float:left; margin-left:-48px; color:#444; font-weight:700;}

/*popup show*/
.popup_layshow { opacity:1;}

.poi_pop_view .poi_cover_image { position:relative; min-height:150px; }
.poi_pop_view .poi_cover_image img { border-radius:4px 4px 0 0; }
.poi_pop_view .poi_cover_image .popup_poi_close {position:fixed; top:60px; right:30px; cursor:pointer; }
.poi_pop_view .poi_cover_image .poi_name {position:absolute; top:10px; left:15px;  color:#fff; font-size:20px; text-shadow: 0 0 18px #000;}
.poi_pop_view .poi_detail {padding:10px;}
.poi_pop_view .poi_detail .extend_info li {border-bottom:1px solid #ccc; padding:5px 0;}
.poi_pop_view .poi_detail .extend_info li:last-child {border-bottom:0px; }
.poi_pop_view .poi_detail .extend_info li span {float:left; }
.poi_pop_view .poi_tips {background:#FFF8E4; color:#17C4BB; padding:10px;}
