.header {height:45px; background:#D28308;}
.header .header-logo {float:left; width:170px; height:60px;}
.header .header-nav {display:block;}
.header-nav ul {list-style:none;}
.header-nav ul li { width:110px; float:left;}
.header-nav ul li a { font-size:15px; color:#fff;}

.home_page .banner { background:#FDC225; height:340px;}
.home_page .demo { background:#F7F5F4; height:440px;}
.home_page .mobile { background:#FEDE6D; height:440px;}
.home_page .product { background:#F7F5F4; height:466px;}
.home_page .submit { background:#FEDE6D; height:495px; }

.home_page .demo img, .home_page .mobile img , .home_page .product img  {width:1140px; }

.home_page .banner {text-align:center;}
.home_page .banner img {margin-top:100px;}
.home_page .banner .submit_btn { margin:0 auto; background:url('/images/home/topbanner_button.png') width:205px; height:40px;}
.footer {background:#F5F5F5;padding:20px; color:#999; line-height:1.6; font-size:13px; text-align:center;}
.home_page .banner .submit_btn img { margin-top:40px;}

.home_page .submit_box {width:500px; margin:0 auto; margin-top:20px; color:#4B1E10; }
.home_page .submit_box .tips {color:#4B1E10; }
.home_page .submit_box .tips a {color:#852202; }
.home_page .submit_box button { background:#D28308; border:0; color:#fff; padding-left:20px; padding-right:20px;}
.footer .links ul {margin:0; padding:0; display:inline;}
.footer .links ul li{list-style:none; padding-right:5px; display:inline;}
