@charset "UTF-8";
.navbar-inverse {background:none; border:0; margin-bottom: 0;}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {border-color:#0AC9C3;}
.navbar-inverse .navbar-toggle .icon-bar {background-color:#0AC9C3;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {background-color: #fff;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {color:#777; }
body {
	font-family: "微软雅黑","Meiryo","Hiragino Sans GB","STHeiti", "华文细黑",
		"Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial,
	sans-serif;
	margin: 0;
	background-color:#fff;
	font-weight: normal;
	color: #888;
}
img{
	border:none;
}
.clear{
	clear:both;
}
.top{
    width: 100%;
    background-color: #fff;
}
.top-fixed {

    position: absolute;
    background: none;
    top:0;
}
.head{
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    line-height: 70px;
}
.head .icon{
	float:left;
	display: block;
	margin-top: 15px;
}
.head .icon img{
	display: block;
	cursor: pointer;
}
.head .h_menu{
	float:right;
}
.head .h_menu .link{
	float: left;
	padding: 0px 20px;
    font-size: 14px;
    color: #888;
}
.head .h_menu a,.head .h_menu a:link,.head .h_menu a:visited,.head .h_menu a:hover{
	color: #888;
	text-decoration:none;
}
.user-pw-input {
    margin: 0 auto 20px auto;
    width: 60%;
}
.user-pw-input {
    margin: 0 auto 20px auto;
    width: 60%;
}
.user-pw-btn {
    margin: 0 auto;
    width: 30%;
}
.modal-body fieldset{
	border:0px !important;
}

.top .head .h_menu .img-header{
	width: 40px;
	height: 80px;
	padding-top: 25px;
}
.top .head .h_menu .img-header img{
    display: block;
	width: 30px;
	height: 30px;
	border-radius: 25px;
}
.top .head .h_menu .img-header .triangle{
	float: right;
    width: 0px;
    height: 0px;
    border-bottom: 5px solid #CCC;
    border-left: 5px solid transparent;
}
.head .h_menu .list {
	position: relative;
}
.head .h_menu .list:hover .sub-item {
	display: block;
}
.head .h_menu .sub-item {
	background: #F9F9F9;
	position: absolute;
	left: 0px;
	display:none;
	z-index: 9999999 !important;
	box-shadow: 0 0 3px #888;
}
.head .h_menu .son-item {
	line-height: 40px;
}
.head .h_menu .line {
	background: #F1F1F1;
	height: 1px;
	width: 100%;
}


.footer {margin:0 auto; padding:20px 0; font-size: 13px;  background:#363333; margin-top:60px;  color:#B8B8B8;  }
.footer .contact-icon img{ width:90px; margin-bottom:10px;}
.footer .contact-info {  padding-top:10px;}
.footer .qr_code {  text-align: center;}
.footer .qr_code img {width:90px;}