@charset "UTF-8";

body {
	font-family: "微软雅黑","Meiryo","Hiragino Sans GB","STHeiti", "华文细黑",
		"Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	background-color:#f5f5f5;
	font-weight: normal;
}
img{
	border:none;
}

.landingContainer {
    display: none;
}

    .landingContainer {
        display: inline-block;
        width: 100%;
        position: relative;
    }
    .landingContainer .landingContent {
        overflow: hidden;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .landingContainer .landingContent .slogan, .landingContainer .landingContent video {
        position: absolute;
    }
    .landingContainer .landingContent .filter {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: url('../images/welcome/banner.png') center no-repeat;
        background-size: 100%;
    }
    .landingContainer .landingContent .slogan {
        z-index: 2;
        top: 37.5%;
        width: 100%;
        height: 25%;
        text-align: center;
    }
    .landingContainer .landingContent .slogan h1 {
        font-size: 4.16vw;
    }
    .landingContainer .landingContent .slogan h5 {
        font-size: 1.25vw;
    }
    .landingContainer .landingContent .slogan h1, .landingContainer .landingContent .slogan h5 {
        color: white;
    }
    .landingContainer .landingContent video {
        bottom: 0;
        width: 100%;
    }

    .landingContainer::after {
        padding-top: 30%;
        /* percentage of video cal by (600-46/1440) */
        display: block;
        content: '';
    }


.booking-area .book-btn-row
{
	margin:0;
	padding-top:40px;
	text-align:center;
	
} 
.booking-area  .book-btn-row .mask_button{
	margin:0 auto;
    color:white;
    z-index: 999;  
    text-align: center;
    background-color:#24BABF;    
    border-radius: 50px;
    font-size: 18px;
    width: 240px;
    padding:16px 0;
    cursor: pointer;
}

.booking-area .title{
	margin-top:20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}


.booking-area .title #service_count{
	font-weight: 600;
}

.intro_list {text-align: center;}

.modal {top:100px;}


.plan-create {
    width: 580px;

    border-radius: 10px;
    margin: 30px auto;
    padding-bottom:30px;
    background-color: #fff;
}

.plan-create .page_content {
    color: #000;
    width: 480px;
    height: 450px;
    overflow: hidden;
}

.plan-create .page_content .page {
    padding: 30px 40px;
}

.plan-create .page_content .page .page_title {
    font-size: 24px;
    margin-bottom: 30px;
}

.plan-create .page_content .page .tr {
    float:left;
    width:100%;
    font-size: 14px;
    color:#888888;
    margin-bottom: 20px;
}
.plan-create .page_content .page .tr .bc{
    float: left;
    width: 190px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #888;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 50px;
    border-radius: 7px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}
.plan-create .page_content .page .tr .jj{
    float: right;
    width: 190px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #888;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 50px;
    border-radius: 7px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}
.plan-create .page_content .page .tr .gender{
    position: absolute;
    top: 10px;
    right: 15px;
}
.plan-create .page_content .page .tr .gender .sex{
    width:40px;
}
.plan-create .page_content .page .large{
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
}
.plan-create .page_content .page  #city{
    border:none;
}
.plan-create .page_content .page #playDay{
    float: left;
    width: 210px;
    border: 1px solid #e5e5e5;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
    margin-right: 10px;
}
.plan-create .page_content .page #num{
    width:180px;
    border: 1px solid #e5e5e5;
    height: 40px;
    padding-left: 20px;
    padding-right: 40px;
}
.plan-create .page_content .page .success{
    height: 50px;
    background-color: #e83744;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 80px;
}
.plan-create .page_content .page .type {
    width: 72px;
    float:left;
    line-height:25px
}
.plan-create .page_content .page .t1{
    font-size:26px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.plan-create .page_content .page .t2{
    font-size:20px;
    text-align: center;
    height:60px;
    line-height:30px;
}

.plan-create .page_content .page .th {
    float: left;
}
.plan-create .page_content .page .td{
    float:left;
    position: relative;
}
.plan-create .page_content .page .tr .service_city{
    width:100%;
    border:1px solid #e5e5e5;
}
.plan-create .page_content .page .tr .service_city,
.plan-create .page_content .page .tr .username,
.plan-create .page_content .page .tr .begin_date{
    position: relative;
}
.plan-create .page_content .page .tr .service_city .realname{
    padding-right: 145px !important;
}
.plan-create .page_content .page .tr textarea{
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 75px;
    padding: 10px 20px;
    padding-right: 40px;
    outline: none;
}
.plan-create .page_content .page .td .right{
    float:right;
    position: absolute;
    width: 40px;
    text-align: center;
}
.plan-create .page_content .page .icon{
    top: 1px;
    right: 0px;
    float: right;
    position: absolute;
    width: 40px;
    height: 38px;
    border-left: 1px solid #e5e5e5;
    text-align: center;
    background: url(../img/down_icon.png) no-repeat 10px 10px;
    cursor: pointer;
}
.plan-create .page_content .page .td .day{
    right: 10px;
    top: 10px;
}
.plan-create .page_content .page .td .num{
    right: 0px;
    top: 10px;
}
.plan-create .page_content .page .next {
    width: 240px;
    height: 50px;
    background-color: #e83744;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 20px;
}

.plan-create .page_content .page .next {
    width: 240px;
    height: 50px;
    background-color: #24BABF;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 15px;
}
.plan-create .page_content .page .page2{
    float: right !important;
    width: 190px !important;
}
.plan-create .page_content .page .prev{
    float: left;
    width: 190px;
    height: 50px;
    background-color: #FFF;
    color: #888;
    border: 1px solid;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 15px;
}
.tr .td .plugin{
    margin-top: 0px !important;
    margin-left: 93px !important;
}
.tr #playDay_warn{
    position: absolute;
    left: 92px;
    margin-top: -20px;
}
.tr #service_warn{
    position: absolute;
    left: 344px;
    margin-top: -22px;
}
.tr #num_warn{
    position: absolute;
    left: 62px;
    margin-top: -30px;
}
.tr .error_b{
    border: 1px solid red !important;
}
.tr  .error {
    display:none;
    float: right;
    left: 422px;
    height: 20px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    text-align: right;
    font-size: 12px;
    margin-top: -60px;
    background-color: #ff5a5f;
}