a {
    text-shadow: none;
    color: #17C4BB;
}
a:hover {
    color: #59d9c5;
    text-decoration: none;
}
.error {color:red;}
.customerCard { margin-bottom:20px; position: relative;}
.customerCard .innerCard {background:#fff; box-shadow:0px 2px 7px 0px rgba(0,0,0,0.23);min-height: 328px; }
.customerCard .innerCard:hover { cursor: pointer;}
.customerCard .innerCard .cardHead{background: #EEF4F3; border-bottom: 1px solid #eee; padding:20px;padding-bottom:10px;}
.customerCard .innerCard:hover .cardHead{ background: #EEF4F3;}
.customerCard .innerCard .cardBody{padding:10px 20px;}
.customerCard .innerCard .contact {font-family:STHeitiSC-Light;  font-size:20px;  color:#4a4a4a; line-height:25px;}
.customerCard .innerCard .connect {line-height: 25px; color:#999;}
.customerCard .innerCard .cardBody h4 {font-family:STHeitiSC-Light;  font-size:16px;  color:#9b9b9b;  line-height:20px;}
.customerCard .innerCard .cardBody .travelDate {color:#999; margin-top:5px;}
.customerCard .innerCard .cardBody .remark h4 {margin-bottom: 5px;}
.customerCard .innerCard .cardBody .remark p{padding:0; margin:0; min-height: 40px; max-height: 40px;  color:#4a4a4a;  overflow: hidden;  text-overflow: ellipsis;  white-space: pre;}
.customerCard .innerCard .addCustomer {padding:10px; text-align: center; font-size:60px;}
.customerCard .innerCard.addCustomerBox { width:100%; height:100%; text-align: center;}
.customerCard .innerCard .actions {position: absolute; bottom:10px; display: none;}
.customerCard:hover .innerCard .actions { display: block;}

.tripCard { margin-bottom:20px;  }
.tripCard .innerCard {background:#fff; height:160px; }
.tripCard .innerCard:hover { cursor: pointer;}
.tripCard .innerCard .coverImage {background:url('../images/trip-cover-image.png') center;width:160px; height:160px; display: inline-block;  float:left;}
.tripCard .innerCard .tripInfo {padding:0; float:left; height:100%; margin-left:10px;}
.tripCard .innerCard .tripActions {position:absolute; right:20px; bottom:10px; display: none;}
.tripCard:hover  .innerCard .tripActions{display: block;}
.tripCard .innerCard .tripInfo h4 { font-size:18px; }
.tripCard .innerCard .tripInfo .tripTime {color:#ccc;}
.tripCard .innerCard .tripInfo .customer {position: absolute; bottom: 10px;margin:0; }
.tripCard .innerCard .tripInfo .customer a {color:#ccc; font-size: 13px;}
.tripCard .innerCard .tripViews {position: absolute; bottom:10px; left:190px; display: none;}
.tripCard:hover .innerCard .tripViews {display: block;}
.tripCard .innerCard.newTrip  {text-align: center;font-size: 18px;line-height: 160px;}

@media (max-width: 767px) {
    .tripCard .innerCard {height:100px;}
    .tripCard .innerCard .coverImage { width:100px; height: 100px;}
    .tripCard .innerCard .tripActions { right:20px; bottom:10px;}
    .tripCard .innerCard .tripInfo h4 { font-size:15px; }
    .tripCard .innerCard .tripViews {left:120px; display: block;}
    .tripCard .innerCard.newTrip  {text-align: center;font-size: 18px;line-height: 100px;}

    .page-header.navbar {
        background: #26344B;
    }

}
.page-header.navbar .page-logo {background: #26344B;}
.page-header.navbar .page-logo .logo-default {margin-top:23px;}
.page-header.navbar .page-top {box-shadow:none;}
.page-header.navbar .page-logo{text-align: center;}
.page-header.navbar .page-logo>.logo-image, .page-header.navbar .page-logo>a {float:none;}

.profile-sidebar-portlet {padding:15px 0 0!important;}
#MEIQIA-BTN #MEIQIA-BTN-TEXT {font-size:12px !important;}
.mt-element-card .mt-card-item .mt-card-content {}



.cover-image-box { border:1px solid #eee;padding:3px; width:198px; height:198px; margin-bottom:10px; position:relative; }
.cover-image-box img {  width:190px; height:190px;}
.cover-image-box .loading {background:url('/images/loading.gif') no-repeat; width:32px; height:32px; position:absolute; top:40%; left:40%; display:none;}
.poi-cover-image-box { border:1px solid #eee;padding:3px; width:160px; height:120px; margin-bottom:10px; position:relative; }
.poi-cover-image-box img {  width:152px; height:112px;}
.poi-cover-image-box .loading {background:url('/images/loading.gif') no-repeat; width:32px; height:32px; position:absolute; top:40%; left:40%; display:none;}
.fileinput-button {
    position: relative;
    overflow: hidden;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}
