body {font:#333;}
ul, li { list-style: none; margin: 0;padding: 0;}
.pdf-title { margin-top:10px; margin-bottom:20px;}
.pdf-title h1 {text-align:left; font-size:24px; color:#BE450F; float:left;}
.pdf-title img {float:right}
.contact_card { border:1px dashed #888; border-radius:7px; width:100%; height:120px;}
.contact_card .info { margin:30px 20px 0 180px; font-size:20px; float:left; } 
.contact_card .info span { margin-top:20px;}
.contact_card .qr_box {display:block; float:left; width:200px; margin-left:50px; margin-top:20px; text-align:center;}
.contact_card ul li {padding-bottom:5px;}
.text-center {text-align: center;}
.one_day_key_s {margin:0 auto; line-height:25px; background:#666;width: 25px; height: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; border-radius: 25px;text-align:center; vertical-align:middle; color:#fff;}

.pdf_table_citys {background:#e5e3e3; border-radius:3px; padding:2px 5px; font-size:12px;}
.one_day_time_table { font-size:10px;}
.one_day_poi_list {border:1px dashed #ccc; background:#F6F4F4; padding:20px; border-radius:5px; margin-top:10px;}

.one_day_key .the_key { margin:0 auto; line-height:60px; background:#666;width: 60px; height: 60px; -moz-border-radius: 60px; -webkit-border-radius: 60px; border-radius: 60px;text-align:center; vertical-align:middle; color:#fff;  font-size:25px; }

.routebox { background:#EDEDED; padding:20px; margin-right:20px; width:510px; display:inline-block; float:left; }
.routebox .citys { width: 300px; float:left; border-right:1px solid #ccc; margin-right:25px; text-align:center; }
.routebox .citys .city { width:90px; display:block; float:left;}
.routebox .citys .city .name { font-size:12px; padding:0; margin-bottom:0; font-weight:bold;}
.routebox .citys .city .time { font-size:22px; padding:0; margin-bottom:0; margin-top:5px;}
.routebox .citys .icon { width:100px; display:block; float:left;}

.poilists {margin-bottom:10px;}
.poi_list .pin_type span {background:url('../images/pdf/pin_type_bg.png') no-repeat; width:120px; height:33px; line-height:24px; display:block; text-align:center; color:#fff; font-size:16px;}
.poi_detail {width:580px; float:left;}
.poi_detail .title h4 {background:url('../images/pdf/arrow.png') no-repeat; padding-left:20px; font-size:17px; color:#1678E7; font-weight:bold;}
.extend_info li {border-bottom:1px dashed #ccc; line-height:30px;}
.extend_info li:last-child {border-bottom:0px; }
.extend_info li span {float:left; }

.poi_detail .content {min-height:100px;}

.excel_traffic_list li {border-bottom:1px dashed #ccc; background-image:url('../images/pdf/flight2.png'); background-repeat:no-repeat;background-position:top right;margin-bottom:5px; margin-top:0px; padding-bottom:5px;}
