.page-top input {box-sizing:border-box;}

.pl_tit_edit{margin-top:6px;padding-left:20px}
.pl_tit_edit input{margin-top:4px}
.pl_tit_edit .ui_input{padding:0 10px;font-size:14px;font-weight:700;height:34px;line-height:34px;margin-top:0;border:1px solid #d9d9d9;border-top-color:#c0c0c0;width:240px} 
.pl_tit_edit .hover { border-color:#b5b5b5;border-top-color:#929292}
.pl_tit_edit .active{ border-color:#73af88;box-shadow:0 1px 2px #ccc inset}

li {list-style:none;}
.ui_popup_bg {
    background: url("/images/plan/popup_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.ui_popup {
    border: 1px solid #C0C0C0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
    margin: 50px auto 0;
    position: relative;
    width: 500px;
}
.ui_popup_main {
    background: none repeat scroll 0 0 #FFFFFF;
}
.ui_popup_close {
    background: url("/images/plan/popup_close.png") no-repeat scroll 0 -30px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    z-index: 1;
}
.ui_popup_close:hover {
    background-position: 0 0;
}
.tra_select {
    float: left;
    font-size: 14px;
    margin-left: 10px;
}
.tra_select .titles {
    background: url("http://static.qyer.com/images/plan2/p_2_2/tra_select_icon.png") no-repeat scroll right center #FFFFFF;
    border: 1px solid #C0C0C0;
    color: #636363;
    cursor: pointer;
    display: block;
    line-height: 30px;
    padding: 0 21px 0 10px;
}
.tra_select .titles span {
    display: block;
    min-width: 16px;
    overflow: hidden;
    padding-right: 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tra_select .contents {
    display: none;
    left: 0;
    line-height: 38px;
    min-width: 100%;
    position: absolute;
    top: 31px;
}
.tra_select .contents ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C0C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}
.tra_select .contents ul li {
    border-top: 1px solid #EBEBEB;
    line-height: 38px;
}
.tra_select .contents ul li:first-child {
    border-top: 0 none;
}
.tra_select .contents ul li:hover {
    background: none repeat scroll 0 0 #F8F9F9;
}
.tra_select .contents ul a {
    color: #636363;
    display: block;
    padding: 0 35px 0 10px;
    white-space: nowrap;
}
.tra_select .contents ul a:hover {
    text-decoration: none;
}
input {box-sizing:content-box;}
input:focus, textarea:focus { border: 0px;}  
ul, li {margin:0; padding:0;}
.fl {
	float: left;
	display: inline;
}
.fr {
	float: right;
	display: inline;
}
.ui2_input {
	height: 24px;
	overflow: hidden;
	padding: 3px 7px;
	border: 1px solid #c0c0c0;
	font-size: 14px;
	line-height: 24px;
}
.ui2_error {
    border-color: #CB0900;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05) inset;
}
.ui2_error_layer {
    background: none repeat scroll 0 0 #FFCCCD;
    border: 1px solid #CB0013;
    color: #636363;
    float: left;
    height: 22px;
    left: 100px;
    line-height: 22px;
    padding: 0 8px;
    position: absolute;
    top: -1px;
}
.ui2_error_layer_arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #CB0013;
    border-image: none;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 6px 6px;
    height: 0;
    left: 11px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    width: 0;
}
.ui2_error_layer_arrow2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFCCCD;
    border-image: none;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 5px 5px;
    height: 0;
    left: 12px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    width: 0;
}
.ui2_error_layer_arrowb {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CB0013 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-right: 6px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 6px 6px 0;
    bottom: -6px;
    height: 0;
    left: 11px;
    overflow: hidden;
    position: absolute;
    width: 0;
}
.ui2_error_layer_arrowb2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFCCCD rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 5px 5px 0;
    bottom: -5px;
    height: 0;
    left: 12px;
    overflow: hidden;
    position: absolute;
    width: 0;
}
.ui2_error_layer_arrowl {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) #CB0013 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    height: 0;
    left: -6px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 0;
}
.ui2_error_layer_arrowl2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) #FFCCCD rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: none;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    height: 0;
    left: -5px;
    overflow: hidden;
    position: absolute;
    top: 6px;
    width: 0;
}
.ui2_error_layer_text {
}
input.ui_btn_big_load, input.ui_btn_big_cancel, input.ui_btn_big_disabled, button.ui_btn_big_load, button.ui_btn_big_cancel, button.ui_btn_big_disabled {
    height: 36px;
    line-height: normal;
}
.ui_btn_small, .ui_btn_smallA, .ui_btn_smallB, .ui_btn_smallC, .ui_btn_small_disabled, .ui_btn_small_load, .ui_btn_small_cancel {
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    overflow: visible;
    padding: 0 13px;
    text-align: center;
}
.ui_btn_small {
    background-color: #3F9F5F;
}
.ui_btn_small:hover {
    background-color: #5CAD77;
    color: #FFFFFF;
    text-decoration: none;
}
.ui_btn_small:active {
    background-color: #3F9F5F;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}
.ui_btn_smallB {
    background-color: #3F9F5F;
}
.ui_btn_smallB:hover {
    background-color: #5CAD77;
    color: #FFFFFF;
    text-decoration: none;
}
.ui_btn_smallB:active {
    background-color: #3F9F5F;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}
.ui_btn_smallA {
    background-color: #1995DD;
}
.ui_btn_smallA:hover {
    background-color: #3BA5E2;
    color: #FFFFFF;
    text-decoration: none;
}
.ui_btn_smallA:active {
    background-color: #1995DD;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}

.ui_button, .ui_buttonA, .ui_buttonB, .ui_buttonC, .ui_button_disabled, .ui_button_load, .ui_button_cancel {
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    overflow: visible;
    text-align: center;
}
.ml10 {
    margin-left: 10px;
}
.fr {
    float: right;
}

.ui_input {
	height: 22px;
	border: 1px solid #ccc;
	padding: 0 5px;
	background-color: #fff;
	line-height: 22px;
	font-family: Helvetica,Arial,"Hiragino Sans GB",\5b8b\4f53,sans-serif;
}
.plan-create-header {
	border-bottom:2px solid #eee;
	padding-bottom:10px;
}
.plan-create-hd .title {
	width:200px;
	float:left;
	margin-top: 30px;
	margin-bottom: 0;
}
.plan-create-hd .list {
	float: right;
	margin-top: 30px;
}
.plan-create-hd .list_number {
	float: left;
	line-height: 26px;
	font-size: 18px;
	color: #959595;
}
.plan-create-hd .list_number span {
	background: url("/images/plan/list_number_bg.png") no-repeat scroll 0 -25px rgba(0, 0, 0, 0);
	color: #FFFFFF;
	display: inline-block;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
	text-align: center;
	width: 25px;
}
.plan-create-hd .current {
	color: #323232;
}
.plan-create-hd .current span {
	background-position: 0 0;
}

.plan-create-hd  .list .list_gt {
	background: url("/images/plan/list_number_gt.png") no-repeat scroll center center rgba(0, 0, 0, 0);
	float: left;
	height: 14px;
	padding: 6px 10px;
	width: 8px;
	box-sizing:content-box;
}
.plan-found-content {
	margin: 30px auto 150px;
}

.found_search {
    height: 40px;
    position: relative;
    z-index: 10;
}
.found_search .ui_input {
    background: url("/images/plan/found_search_bg.png") no-repeat scroll 9px center #FFFFFF;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    padding: 0 10px 0 33px;
    width: 361px;
}
.found_layer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C0C0;
    left: 0;
    position: absolute;
    top: 39px;
    width: 404px;
}
.found_layer .no_info {
    color: #959595;
    display: none;
    line-height: 48px;
    padding: 0 10px;
}
.found_layer dt {
    color: #959595;
    float: left;
    line-height: 30px;
    padding-right: 10px;
    text-align: right;
    width: 42px;
}
.found_layer dd {
    border-left: 1px solid #D7D7D7;
    border-top: 1px solid #D7D7D7;
    float: right;
    width: 351px;
}
.found_layer .none_border dd {
    border-top: 0 none;
}
.found_layer dd a {
    color: #959595;
    display: block;
    line-height: 20px;
    padding: 5px 10px;
}
.found_layer dd a:hover {
    background: none repeat scroll 0 0 #E0F1DF;
    text-decoration: none;
}
.found_layer dd a.current {
    background: none repeat scroll 0 0 #E0F1DF;
}
.found_layer dd .ctext {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.found_layer dd .etext {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.found_tag {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin-top: 30px;
}
.found_tag span {
    color: #EAEAEA;
    float: left;
    font-size: 12px;
    font-weight: 700;
    padding: 0 9px;
}
.found_tag a {
    float: left;
}
.found_tag .current {
    color: #323232;
    cursor: default;
}
.found_tag .current:hover {
    text-decoration: none;
}
.found_text_title {
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    margin-top: 30px;
}
.found_text_title span {
    color: #959595;
    font-family: 宋体,sans-serif;
    font-size: 12px;
    padding-left: 30px;
}

.pl_found_mask {
    background: url("/images/plan/list_hover_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
.pl_found_mask_cnt {
    margin: 0 auto;
    min-height: 80px;
    width: 980px;
}
.pl_found_mask .button {
    background: url("/images/plan/pl_found_mask_btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 43px;
    margin-top: 18px;
    text-indent: -9999px;
    width: 112px;
	float:left;
}
.pl_found_mask .button:hover {
    background-position: 0 -43px;
}
.pl_found_mask .button_disabled {
    background-position: 0 -86px;
    cursor: default;
}
.pl_found_mask .button_disabled:hover {
    background-position: 0 -86px;
}
.pl_found_mask .button_prev {
    background: url("/images/plan/pl_found_mask_prev.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 41px;
    margin: 19px 10px 0 0;
    text-indent: -9999px;
    width: 131px;
}
.pl_found_mask .button_prev:hover {
    background-position: 0 -41px;
}
.pl_found_mask .list_two_hang .list_tag {
    float: left;
    position: relative;
    white-space: nowrap;
}
.pl_found_mask .list_two_hang .list_tag .del {
    background: url("/images/plan/pl_found_x_icon.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: -6px;
    top: 0;
    width: 16px;
}
.pl_found_mask .list_two_hang .list_tag:hover .del {
    display: block;
}
.pl_found_mask .list_two_hang .list_jt {
    background: url("/images/plan/pl_found_mask_jt.png") no-repeat scroll 0 -20px rgba(0, 0, 0, 0);
    float: left;
    height: 20px;
    margin: 4px 10px 4px 0;
    text-indent: -9999px;
    width: 23px;
}
.pl_found_mask .list_two_hang {
    float: left;
    font-size: 20px;
    line-height: 28px;
    margin: 12px 0;
    padding-top: 14px;
    width: 718px;
}
.pl_found_mask .list_two_hang a {
    color: #FFFFFF;
    cursor: default;
    display: block;
    padding-right: 10px;
    white-space: nowrap;
}
.pl_found_mask .list_two_hang a:hover {
    text-decoration: none;
}
.pl_found_mask .content_text {
    color: #FFFFFF;
    float: left;
    font-size: 24px;
    line-height: 80px;
    text-align: center;
    width: 720px;
}
.pl_found_mask .button_up {
    background: url("/images/plan/pl_found_mask_up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 43px;
    margin-top: 18px;
    text-indent: -9999px;
    width: 112px;
}
.pl_found_mask .button_up:hover {
    background-position: 0 -43px;
}
.pl_found_mask .action_button {
    background: url("/images/plan/action_button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 41px;
    margin-top: 20px;
    text-indent: -9999px;
    width: 130px;
}
.pl_found_mask .action_button:hover {
    background-position: 0 -41px;
}
.pl_found_mask .action_button_disabled {
    background-position: 0 -82px;
    cursor: default;
}
.pl_found_mask .action_button_disabled:hover {
    background-position: 0 -82px;
}
.pl_found_mask .all_p {
    color: #FFFFFF;
    float: right;
    line-height: 80px;
    margin-right: 20px;
}


.found_city {
    position: relative;
    z-index: 7;
}
.found_city .item {
    float: left;
    margin-left: -22px;
}
.found_city .list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    float: left;
    margin: 15px 0 0 15px;
    padding: 6px;
    width: 215px;
}
.found_city .list .img {
    height: 143px;
    position: relative;
}
.found_city .list .img img {
    height: 143px;
    width: 200px;
}
.found_city .list .img .hover {
    display: none;
}
.found_city .list .img:hover .hover {
    background: url("/images/plan/list_hover_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    height: 143px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.found_city .list .img:hover .hover em {
    color: #F26622;
}
.found_city .list .img:hover .hover span {
    display: block;
    line-height: 20px;
    max-height: 60px;
    overflow: hidden;
    padding: 5px 10px;
}
.found_city .list .title {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
}
.found_city .list .title .name {
    margin-left: 5px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.found_city .list .title .ui_btn_smallB {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    width: 60px;
}
.found_city .list .title .add {
    background-image: url("/images/plan/city_add_icon.png");
    background-position: 8px center;
    background-repeat: no-repeat;
    padding-left: 25px;
    text-align: left;
}
.found_city .list .text {
    color: #636363;
    padding: 0 5px;
}
.found_more {
    margin-top: 30px;
    text-align: center;
}
.found_more .text {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #ECECEC;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 350px;
}
.found_more .text span {
    background: url("/images/plan/wait_16.gif") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #636363;
    display: inline-block;
    font-size: 14px;
    padding-left: 23px;
}



.pl_found_move {
    left: 0;
    position: absolute;
    top: 0;
    width: 229px;
    z-index: 100000;
}
.pl_found_move .list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 6px 6px 0;
    width: 215px;
}
.pl_found_move .list .img img {
    width: 100%;
}
.pl_found_move .list .img p {
    display: none;
}
.pl_found_move .title .fl {
    float: none;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_found_move .title .fr {
    display: none;
}
.pl_found_move .text {
    display: none;
}
.found_sort_cnt {
    float: left;
    width: 270px;
}
.found_sort_cnt .date span {
    font-size: 16px;
    line-height: 42px;
}
.found_sort_cnt .date .ui_input {
    background: url("/images/plan/found_date_icon.png") no-repeat scroll 124px 0 rgba(0, 0, 0, 0);
    cursor: text;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding: 10px 26px 10px 5px;
    text-align: center;
    width: 120px;
}
.found_sort_cnt .date .ui_input:hover {
    background-position: 124px -40px;
}
.found_sort_cnt .text {
    background: url("/images/plan/found_text_icon.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    font-size: 14px;
    margin-top: 15px;
    padding-left: 27px;
}
.found_sort_cnt .item {
    position: relative;
    z-index: 25;
}
.found_sort_cnt .item .list {
    background: url("/images/plan/found_sort_list.png") no-repeat scroll 10px center #F5F5F5;
    cursor: move;
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    padding: 0 10px 0 38px;
    position: relative;
	width:270px;
    z-index: 30;
}
.found_sort_cnt .item .list_move {
    border: 2px dashed #9C9C9C;
    height: 36px;
    line-height: 36px;
    padding: 0 8px 0 36px;
}
.found_sort_cnt .item .list:hover {
    background-color: #F8F8F8;
}
.found_sort_cnt .item .list strong {
    float: left;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}
.found_sort_cnt .item .list .select {
    float: right;
    width: 76px;
}
.found_sort_cnt .item .list .select .reduce, .found_sort_cnt .item .list .select .add {
    background: url("/images/plan/sort_icon_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 17px;
    margin-top: 12px;
    width: 17px;
}
.found_sort_cnt .item .list_move .select .reduce, .found_sort_cnt .item .list_move .select .add {
    margin-top: 10px;
}
.found_sort_cnt .item .list .select .reduce {
    background-position: 0 0;
}
.found_sort_cnt .item .list .select .reduce:hover {
    background-position: 0 -20px;
}
.found_sort_cnt .item .list .select .reduce_disabled {
    background-position: 0 -40px;
}
.found_sort_cnt .item .list .select .reduce_disabled:hover {
    background-position: 0 -40px;
}
.found_sort_cnt .item .list .select .add {
    background-position: -21px 0;
}
.found_sort_cnt .item .list .select .add:hover {
    background-position: -21px -20px;
}
.found_sort_cnt .item .list .select .add_disabled {
    background-position: -21px -40px;
}
.found_sort_cnt .item .list .select .add_disabled:hover {
    background-position: -21px -40px;
}
.found_sort_cnt .item .list .select .number {
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 14px;
    text-align: center;
    width: 42px;
}
.found_sort_cnt .item .list .close {
    background: url("/images/plan/list_close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    height: 20px;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 20px;
}
.found_sort_cnt .item .list:hover .close {
    display: block;
}
.found_sort_cnt .city_input {
    margin-top: 15px;
    position: relative;
    z-index: 36;
}
.found_sort_cnt .z32 {
    z-index: 32;
}
.found_sort_cnt .city_input .titles {
    float: left;
    font-size: 16px;
    line-height: 32px;
    width: 74px;
}
.found_sort_cnt .city_input .input {
    float: left;
    position: relative;
}
.found_sort_cnt .city_input .ui2_input {
    width: 180px;
}
.found_sort_cnt .city_input .mask {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #C0C0C0 #C0C0C0;
    border-image: none;
    border-right: 1px solid #C0C0C0;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    display: none;
    left: 0;
    position: absolute;
    top: 31px;
    width: 194px;
}
.found_sort_cnt .city_input .mask {
	display: none;
	position: absolute;
	top: 31px;
	left: 0;
	border: 1px solid #c0c0c0;
	border-top: 0;
	background: #fff;
	width: 196px;
}
.found_sort_cnt .city_input .mask p {
    border-top: 1px solid #C0C0C0;
    color: #959595;
    line-height: 30px;
    padding: 0 10px 0 20px;
}
.found_sort_cnt .city_input .mask li a {
    border-top: 1px solid #C0C0C0;
    color: #959595;
    display: block;
    line-height: 30px;
    padding: 0 10px 0 20px;
}
.found_sort_cnt .city_input .mask li a:hover {
    background-color: #E0F1DF;
    text-decoration: none;
}
.found_sort_cnt .city_input .mask li .current {
    background-color: #E0F1DF;
    text-decoration: none;
}
.found_sort_cnt .city_input .mask li a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.found_sort_cnt .add_city {
    margin-top: 15px;
    position: relative;
    z-index: 34;
}
.found_sort_cnt .add_city .link {
    font-size: 14px;
}
.found_sort_cnt .add_city .ui2_input {
    width: 254px;
}
.found_sort_cnt .add_city .found_layer {
    display: none;
    top: 31px;
    width: 268px;
}
.found_sort_cnt .add_city .found_layer dd {
    width: 215px;
}
.found_sort_map {
    float: right;
    height: 450px;
    width: 700px;
}
.ui-datepicker {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 3px #CCCCCC;
    display: none;
    padding: 10px;
    width: 240px;
    z-index: 1299 !important;
}
.ui-datepicker .ui-datepicker-header {
    background-color: #463265;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #FFFFFF;
    height: 34px;
    line-height: 34px;
    position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: pointer;
    height: 34px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 24px;
}
.ui-datepicker .ui-datepicker-prev {
    border-right: 1px solid #127751;
    left: 0;
}
.ui-datepicker .ui-datepicker-next {
    border-left: 1px solid #463265;
    right: 0;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    background-color: #038250;
}
.ui-datepicker .ui-datepicker-prev-hover {
}
.ui-datepicker .ui-datepicker-next-hover {
}
.ui-datepicker .ui-state-disabled {
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    opacity: 0.5;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    background: url("/images/plan/datepicker_icon.png") no-repeat scroll 8px 11px rgba(0, 0, 0, 0);
    display: block;
    height: 34px;
    line-height: 200px;
    overflow: hidden;
    width: 23px;
}
.ui-datepicker .ui-datepicker-prev span {
    border-right: 1px solid #463265;
}
.ui-datepicker .ui-datepicker-next span {
    background-position: -35px 11px;
    border-left: 1px solid #137650;
}
.ui-datepicker .ui-datepicker-title {
    font-size: 14px;
    font-weight: bold;
    margin: 0 24px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    margin-right: 5px;
    width: 60px;
}
.ui-datepicker table {
    border-collapse: collapse;
    border-color: -moz-use-text-color #E6E6E6 #E6E6E6;
    border-image: none;
    border-right: 1px solid #E6E6E6;
    border-left: 1px solid #E6E6E6;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    width: 100%;
}
.ui-datepicker th {
    border: 0 none;
    color: #9E9E9E;
    padding: 4px 0;
    text-align: center;
}
.ui-datepicker td {
    border: 1px solid #E6E6E6;
}
.ui-datepicker td span, .ui-datepicker td a {
    background-color: #FFFFFF;
    color: #323232;
    display: block;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    text-decoration: none;
}
.ui-datepicker td span {
    color: #959595;
}
.ui-datepicker td .ui-state-default {
}
.ui-datepicker td .ui-state-space {
    background-color: #D6E8E1;
}
.ui-datepicker td .ui-state-hover {
    background-color: #D6E8E1;
}
.ui-datepicker td .ui-state-highlight {
    background: none repeat scroll 0 0 #E6E6E6;
    color: #636363;
}
.ui-datepicker td .ui-state-active {
    background: none repeat scroll 0 0 #463265;
    color: #FFFFFF;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto;
    width: 100%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 218px;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 218px;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 218px;
}
.ui-datepicker-multi .ui-datepicker-group-first {
    margin-right: 10px;
}
.ui-datepicker-multi .ui-datepicker-group-middle {
    margin-right: 10px;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    font-size: 0;
    width: 100%;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    left: auto;
    right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left: auto;
    right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}
.ui-datepicker-cover {
    display: block;
    height: 200px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 200px;
    z-index: -1;
}


.pl_hd {
    border-bottom: 1px solid #CFCFCF;
    height: 50px;
    position: relative;
    z-index: 101;
}
.pl_hd .export_buttons {
	margin-top:15px;
}
.pl_hd .export_buttons li {
	display:inline;
	list-style:none;
	padding:5px 10px;
}
.pl_tit {
    margin-top: 0px;
}
.pl_tit h2 {
    font-size: 20px;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    margin-top: 7px;
    padding: 0 10px;
}
.pl_tit h2:hover {
    background: none repeat scroll 0 0 #FFFCDF;
}
.pl_hd_width .pl_tit h2 {
    max-width: 285px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.pl_bd {
    padding-left: 216px;
}
.pl_left {
    float: left;
    margin-left: -216px;
    width: 216px;
}

.menu_tit {
    border-bottom: 1px solid #CFCFCF;
    line-height: 40px;
    padding-left: 10px;
    position: relative;
    z-index: 5;
	height: 56px;
	padding-top:10px;
}
.menu_tit strong {
    background: url("/images/plan/side_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    padding-left: 20px;
}
.menu_shadow {
    border-bottom: 1px solid #E5E5E5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.menu_cnt .current {
    background-color: #F3F3F3;
}
.menu_cnt {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 4;
}
.xcd_date {
    line-height: 28px;
    margin-top: 10px;
    padding-left: 10px;
}
.xcd_date span {
    background: url("/images/plan/xcd_date_icon.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    float: left;
    padding-left: 20px;
}
.xcd_date .ui_input {
    float: left;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    width: 77px;
}
.xqzb_cnt {
    cursor: pointer;
    margin-top: 10px;
    padding: 5px 0 0;
    position: relative;
}
.xqzb_cnt:hover {
    background: none repeat scroll 0 0 #F8F9F9;
}
.xqzb_cnt div {
    background: url("/images/plan/pl_line_bg.png") repeat-y scroll 33px 0 rgba(0, 0, 0, 0);
    padding: 0 10px 5px 11px;
}
.xqzb_image {
    background: url("/images/plan/xqzb_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    height: 47px;
    margin-right: 7px;
    width: 47px;
}
.xqzb_cnt dl {
    overflow: hidden;
    padding: 4px 0 0;
	margin:0;
}
.xqzb_cnt dl dt {
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.xqzb_cnt dl dd {
    color: #D2D2D2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.xcd_add {
    margin-bottom: 30px;
    padding-left: 23px;
}
.xcd_add a {
    background: url("/images/plan/xcd_add_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #686868;
    display: inline-block;
    line-height: 25px;
    padding-left: 30px;
}
.xcd_add a:hover {
    background-position: left bottom;
    text-decoration: none;
}
.pl_left_ad {
    height: 169px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
.pl_left_ad img {
    height: 169px;
    width: 196px;
}
.xcd_item {
    background: url("/images/plan/pl_line_bg.png") repeat-y scroll 33px 0 rgba(0, 0, 0, 0);
    padding-bottom: 5px;
}
.xcd_list {
    background: url("/images/plan/pl_line_bg.png") repeat-y scroll 33px 0 rgba(0, 0, 0, 0);
    cursor: move;
    height: 40px;
    margin-top: 21px;
    padding: 5px 30px 5px 14px;
    position: relative;
	box-sizing:content-box;
	list-style:none;
}
.xcd_item .hover {
    background-color: #F8F9F9;
}
.xcd_item .current {
    background-color: #F3F3F3;
}
.xcd_list .insert {
    background: url("/images/plan/xcd_insert_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 21px;
    left: 24px;
    position: absolute;
    text-indent: -9999px;
    top: -21px;
    width: 21px;
}
.xcd_list .insert:hover {
    background-position: left bottom;
    color: #636363;
    text-decoration: none;
    text-indent: 24px;
    width: 80px;
}
.xcd_list .delete {
    background: url("/images/plan/xcd_list_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #5FA678;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    left: 14px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 41px;
}
.xcd_list:hover .delete {
    background-position: left center;
    color: #FFFFFF;
    cursor: move;
    text-decoration: none;
}
.xcd_item .current .delete {
    background-position: left center;
    color: #FFFFFF;
    text-decoration: none;
}
.xcd_list .remove {
    background: url("/images/plan/day_delete.png") no-repeat scroll center 3px rgba(0, 0, 0, 0);
    display: none;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -9999px;
    top: 14px;
    width: 20px;
}
.xcd_list .remove:hover {
    background-position: center -30px;
}
.xcd_item .current .remove {
    display: block;
}
.xcd_list dl {
    cursor: pointer;
    min-height: 40px;
    overflow: hidden;
    padding-left: 51px;
	margin:0;
}
.xcd_list dl dt {
    color: #6B6B6B;
    font-size: 14px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.xcd_list dl dt em {
    font-weight: 700;
}
.xcd_list dl dd {
    color: #D2D2D2;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.xcd_list .nonep {
    color: #959595;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    overflow: hidden;
    padding-left: 51px;
    margin:0;
}
.pl_right {
    overflow: hidden;
}
.pl_rleft {
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
    background: none repeat scroll 0 0 #F8F9F9;
    overflow: hidden;
}
.xcd_cnt_tit {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #CCCCCC;
    color: #6E6E6E;
    height: 56px;
    position: relative;
    text-align: center;
    z-index: 18;
}
.xcd_cnt_shadow {
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.xcd_cnt_tit .n_title_al {
    display: inline-block;
    padding-right: 20px;
}
.xcd_cnt_tit .n_title {
    float: left;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
}
.xcd_cnt_tit .n_title .all {
    display: table-cell;
    height: 51px;
    vertical-align: middle;
}
.xcd_cnt_tit .day {
    display: block;
    font-size: 16px;
    padding: 0 8px;
}
.xcd_cnt_tit .day em {
    font-family: helvetica,arial,宋体,sans-serif;
    font-size: 22px;
    padding: 0 5px;
}
.xcd_cnt_tit .date {
    font-size: 12px;
    margin-top: 4px;
}
.xcd_cnt_tit .n_prev, .xcd_cnt_tit .n_next {
    background: url("/images/plan/p_day_page_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 23px;
    margin: 16px 0 0;
    width: 22px;
}
.xcd_cnt_tit .n_prev {
    background-position: 0 -23px;
}
.xcd_cnt_tit .n_prev:hover {
    background-position: 0 -69px;
}
.xcd_cnt_tit .n_prev_disabled {
    background-position: 0 -46px;
}
.xcd_cnt_tit .n_prev_disabled:hover {
    background-position: 0 -46px;
    cursor: default;
}
.xcd_cnt_tit .n_next {
    background-position: -22px -23px;
}
.xcd_cnt_tit .n_next:hover {
    background-position: -22px -69px;
}
.xcd_cnt_tit .n_next_disabled {
    background-position: -22px -46px;
}
.xcd_cnt_tit .n_next_disabled:hover {
    background-position: -22px -46px;
    cursor: default;
}
.xcd_cnt_tit .n_map {
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 16px;
}
.xcd_cnt_tit .n_map a {
    border-radius: 3px;
    color: #636363;
    display: inline-block;
    font-family: 宋体,sans-serif;
    margin: 0 1px;
    padding: 0 8px;
}
.xcd_cnt_tit .n_map a:hover {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 1px solid #D9D9D9;
    color: #323232;
    line-height: 22px;
    margin: 0;
    text-decoration: none;
}
.xcd_cnt_tit .n_map a:active {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1) inset;
    color: #959595;
}
.xcd_cnt_tit .n_map a span {
    background: url("/images/plan/p_day_map_icon.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    display: block;
    padding-left: 19px;
}
.xcd_cnt_tit .n_map a:hover span {
    background-position: 0 -22px;
}
.xcd_cnt_tit .n_map a:active span {
    background-position: 0 -44px;
}
.borderdotted1 {
    border-top: 1px dotted #CBCBCB;
    height: 0;
    margin: 0 20px;
    overflow: hidden;
}
.list_icon {
    background: url("/images/plan/xcd_class_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 24px;
    margin: 12px 73px 0 0;
    width: 24px;
}
.icon_place {
    background-position: -24px 0;
}
.icon_activity {
    background-position: -24px -24px;
}
.icon_poi {
    background-position: -24px -48px;
}
.icon_stay {
    background-position: -24px -72px;
}
.icon_buy {
    background-position: -24px -96px;
}
.icon_hotel {
    background-position: -24px -120px;
}
.icon_bus {
    background-position: -24px -144px;
}
.icon_togo {
    background-position: -24px -168px;
}
.icon_city {
    background-position: -24px -192px;
}


.pl_nday {
    padding: 0px;
	min-width:500px;
}
.pl_nday_main {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 680px;
}
.xcd_cnt_day {
    overflow: hidden;
    position: relative;
    z-index: 12;
}
.xcd_cnt_day_auto {
    overflow-y: auto;
}
.xcd_layer_loading {
    background: url("/images/plan/wait_34.gif") no-repeat scroll center center #FFFFFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    left: 0;
    position: absolute;
    text-indent: -9999px;
    top: 0;
    width: 100%;
    z-index: 13;
}
.day_city {
    margin: 0 20px;
    padding: 13px 0 3px;
    position: relative;
    z-index: 12;
}
.day_city .list {
}
.day_city .list_icon {
    left: 0;
    position: absolute;
    top: 7px;
}
.day_city .text {
    color: #686868;
    float: left;
    left: 24px;
    line-height: 24px;
    padding-left: 11px;
    position: absolute;
    top: 20px;
    width: 62px;
}
.pl_nday_main .list_city {
    background: none repeat scroll 0 0 #5FA678;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: move;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    margin: 0 10px 10px 0;
    padding: 0 32px 0 10px;
    position: relative;
    white-space: nowrap;
    z-index: 13;
}
.list_city .list_close {
    background: url("/images/plan/city_tag_close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 17px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 17px;
}
.list_city:hover {
    background: none repeat scroll 0 0 #5FA678;
}
.list_city .list_close:hover {
    background-position: left bottom;
}
.pl_nday_main .add_city {
    float: left;
    position: relative;
}
.pl_nday_main .add_city .add_city_btn {
    background: none repeat scroll 0 0 #87BC9A;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 10px;
    padding: 0 10px;
    white-space: nowrap;
}
.pl_nday_main .add_city .add_city_btn:hover {
    background-color: #5FA678;
}
.pl_nday_main .add_city .csearch_list .jd_item ul {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.csearch_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0 2px 3px #CCCCCC;
    display: none;
    padding: 10px;
    position: absolute;
    right: -10px;
    top: 32px;
    width: 284px;
}
.csearch_list .arrowbig {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #CBCBCB;
    border-style: solid;
    border-width: 0 7px 7px;
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 38px;
    top: -7px;
    width: 0;
}
.csearch_list .arrow {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFFFFF;
    border-style: solid;
    border-width: 0 6px 6px;
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    right: 39px;
    top: -6px;
    width: 0;
}
.csearch_list .ui_input {
    border-top-color: #C0C0C0;
    height: 24px;
    line-height: 24px;
    width: 252px;
}
.csearch_list .hot {
    line-height: 24px;
    margin-top: 6px;
    padding-left: 36px;
	font-size:12px;
}
.csearch_list .hot span {
    margin-left: -36px;
    overflow: hidden;
    width: 36px;
}
.csearch_list .hot a {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
.csearch_list .jd_item {
    left: 0;
    top: 25px;
    width: 262px;
}
.pr {
	position: relative;
}
.p_list_seting {
    background: url("/images/plan/downarrow_icon_blod.png") no-repeat scroll 32px center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    height: 22px;
    padding: 0 10px;
    position: absolute;
    right: 10px;
    top: 0;
    width: 50px;
    z-index: 888;
}
.hover .p_list_seting {
	display:block;
}
.p_list_seting:hover {
    background: url("/images/plan/downarrow_icon_blod.png") no-repeat scroll 32px center rgba(0, 0, 0, 0);
}
.p_list_seting span {
    background: url("/images/plan/p_day_cz_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 22px;
    text-indent: -9999px;
    width: 16px;
}
.p_list_seting:hover span {
    background-position: 0 -22px;
}
.p_list_seting ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 14px;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 22px;
    width: 130px;
}
.p_list_seting ul li {
    border-bottom: 1px solid #EBEBEB;
	list-style:none;
}
.p_list_seting ul li:hover {
    background-color: #F8F9F9;
    text-decoration: none;
}
.p_list_seting ul li a {
    background: url("/images/plan/p_list_seting_iocn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #636363;
    display: block;
    text-indent: 60px;
}
.p_list_seting ul li a strong {
	font-weight:normal;
}
.p_list_seting ul li a:hover {
    background-color: #F8F9F9;
    text-decoration: none;
}
.p_list_seting ul li .edit {
    background-position: 40px 12px;
}
.p_list_seting ul li .del {
    background-position: 40px -29px;
}
.p_list_seting ul li .next {
    background-position: 40px -69px;
}
.p_list_seting ul li .move {
    background: url("/images/plan/p_list_seting_move.png") no-repeat scroll 20px center rgba(0, 0, 0, 0);
    display: block;
}
.p_list_seting ul .hvlist {
    position: relative;
}
.p_list_seting ul .hvlist ul {
    display: none;
    max-height: 198px;
    overflow-x: hidden;
    overflow-y: auto;
    right: 130px;
    top: -1px;
}
.p_list_seting ul .hvlist ul li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    text-align: center;
    text-indent: 0;
}
.day_item {
    margin: 10px 0 20px;
    position: relative;
    z-index: 10;
}
.day_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: move;
    font-family: helvetica,arial,宋体,sans-serif;
    margin: 0 5px;
    padding: 14px 0 14px 14px;
    z-index: 12;
}
.day_list:hover {
    border: 1px solid #CBCBCB;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.day_list .date {
    float: left;
    margin-top: 15px;
    padding-left: 5px;
    position: relative;
    width: 68px;
    z-index: 14;
}
.day_list .date .date_set {
    cursor: pointer;
    float: left;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    line-height: 19px;
    padding: 0 6px;
}
.day_list .date .date_set:hover {
    border: 1px solid #B6B6B6;
    border-radius: 2px;
    box-shadow: 0 0 1px #CCCCCC inset;
    line-height: 17px;
    padding: 0 5px;
}
.day_list .date .edit:hover {
    background: url("/images/plan2/xcd_date_bg.png?001") repeat-x scroll 0 -17px rgba(0, 0, 0, 0);
}
.day_list .date .add {
    color: #0073B6;
}
.day_list .date .add:hover {
    background: url("/images/plan2/xcd_date_bg.png?001") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
}
.day_list .date .active {
    background: url("/images/plan2/xcd_date_bg.png?001") repeat-x scroll 0 -17px rgba(0, 0, 0, 0);
    border: 1px solid #B6B6B6;
    border-radius: 2px;
    box-shadow: 0 0 1px #CCCCCC inset;
    line-height: 17px;
    padding: 0 5px;
}
.date_edit {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0 3px 3px #CCCCCC;
    display: none;
    left: 5px;
    padding: 10px;
    position: absolute;
    top: 19px;
    width: 124px;
}
.date_edit .top {
    height: 32px;
}
.date_edit .top .ui_input {
    color: #6E6E6E;
    float: left;
    font-family: Tahoma,Geneva,sans-serif;
    font-size: 28px;
    height: 30px;
    padding: 0;
    text-align: center;
    width: 39px;
}
.date_edit .top span {
    background: url("/images/plan2/xcd_date_mh.png?001") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 15px;
    margin: 8px 5px 0;
    text-indent: -9999px;
    width: 4px;
}
.date_edit .top a {
    background: url("/images/plan2/xcd_day_del.png?001") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 20px;
    margin: 8px 0 0 8px;
    text-indent: -9999px;
    width: 20px;
}
.date_edit .top a:hover {
    background-position: left bottom;
}
.day_list .content {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 20px 0 10px;
}
.day_list .content a:hover {
    text-decoration: none;
}
.day_list .content div {
    color: #636363;
    line-height: 16px;
    padding-right: 88px;
}
.day_list .content div strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.day_list .content .tcnt {
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin:0;
}
.day_list .content .tcnt a {
    color: #959595;
}
.day_list .content .tcnt strong {
    font-weight: 400;
}
.day_list .content .tcnt span {
    color: #5FA678;
    padding-right: 20px;
}
.day_list .content .overheight {
    color: #959595;
    max-height: 72px;
    overflow: hidden;
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    margin:0;
}
.day_list .content .overheight strong {
    font-weight: 400;
}
.seting {
    display: none;
    float: right;
    position: absolute;
    right: 20px;
    top: 10px;
}
.hover .seting {
    display: block;
}
.seting .remark, .seting .edit, .seting .delete {
    background: url("/images/plan2/xcd_day_del.png?001") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    margin-left: 6px;
    position: relative;
    width: 20px;
}
.seting .remark {
    background-position: right top;
}
.seting .remark:hover {
    background-position: right bottom;
}
.seting .edit {
    background-position: center top;
}
.seting .edit:hover {
    background-position: center bottom;
}
.seting .delete {
    background-position: left top;
}
.seting .ipadover {
    background-position: left bottom;
}
.seting div .tips {
    background: none repeat scroll 0 0 #2A2A2A;
    border-radius: 3px;
    color: #FFFFFF;
    display: none;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    left: -11px;
    line-height: 28px;
    padding: 0 10px;
    position: absolute;
    top: 26px;
    width: 24px;
}
.seting div .tips span {
    background: url("/images/plan2/link_hover_icon.png?001") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 5px;
    left: 37%;
    position: absolute;
    top: -5px;
    width: 11px;
}
.pl_traffic_list {
    line-height: 20px;
    margin: 10px 0;
}
.pl_traffic_list .traffic_none {
    padding-left: 20px;
}
.pl_traffic_list .traffic_box .boxinfo {
    cursor: pointer;
    padding-left: 20px;
}
.pl_traffic_list .titles {
    background: url("/images/plan2/p_2_4/traffic_style_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #959595;
    display: inline-block;
    margin-right: 10px;
    padding-left: 20px;
}
.pl_traffic_list .noinfo {
    background-position: 0 -60px;
}
.pl_traffic_list .walk {
    background-position: 2px 0;
}
.pl_traffic_list .bus {
    background-position: 0 -20px;
}
.pl_traffic_list .drive {
    background-position: 0 -40px;
}
.pl_traffic_list .date {
    background-position: 0 -80px;
}
.pl_traffic_list .boxinfo:hover span {
    color: #5FA678;
}
.pl_traffic_list .boxinfo:hover .walk {
    background-position: 2px -100px;
}
.pl_traffic_list .boxinfo:hover .bus {
    background-position: 0 -120px;
}
.pl_traffic_list .boxinfo:hover .drive {
    background-position: 0 -140px;
}
.pl_traffic_list .boxinfo:hover .date {
    background-position: 0 -160px;
}
.pl_traffic_list .boxinfo .arrow {
    background: url("/images/plan2/p_2_4/traffic_style_arrow.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    vertical-align: top;
    width: 20px;
}
.pl_traffic_list .boxinfo:hover .arrow {
    background-position: 0 -40px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.pl_traffic_list .boxinfoClass .arrow {
    background-position: 0 -20px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.pl_traffic_list .boxinfoClass:hover .arrow {
    background-position: 0 -60px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.pl_traffic_list .contents {
    background: none repeat scroll 0 0 #F8F8F8;
    border-top: 1px solid #E2E2E2;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1) inset;
    display: none;
    margin-top: 5px;
    padding: 10px 20px 0;
}
.pl_traffic_list .contents .content {
    display: none;
    font-size: 14px;
    line-height: 32px;
}
.pl_traffic_list .contents .content1 {
    display: block;
}
.pl_traffic_list .contents .title {
    background: -moz-linear-gradient(center top , #FAFAFA, #ECECEC) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B5B5B5;
    border-radius: 2px;
    float: left;
    height: 28px;
}
.pl_traffic_list .contents .title li {
    border-left: 1px solid #B5B5B5;
    cursor: pointer;
    float: left;
    height: 28px;
    width: 50px;
}
.pl_traffic_list .contents .title li span {
    background: url("/images/plan2/p_2_4/traffic_style_tab.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 28px;
    text-indent: -9999px;
}
.pl_traffic_list .contents .title li:first-child {
    border-left: 0 none;
}
.pl_traffic_list .contents .title .cwalk {
    background-position: center 0;
}
.pl_traffic_list .contents .title .cbus {
    background-position: center -28px;
}
.pl_traffic_list .contents .title .cdrive {
    background-position: center -56px;
}
.pl_traffic_list .contents .title .current {
    background: none repeat scroll 0 0 #EBEBEB;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.day_list .note {
    background: url("/images/plan2/day_edit_bg.png?001") no-repeat scroll 12px 4px rgba(0, 0, 0, 0);
    color: #BFBFBF;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    margin: 10px 20px 0 87px;
    padding: 0 10px;
    position: relative;
    text-indent: 15px;
    z-index: 13;
}
.day_list .note:hover {
    background-color: #FFFFCE;
}
.day_list .note span {
    bottom: 0;
    color: #636363;
    cursor: pointer;
    padding-right: 12px;
    position: absolute;
    right: 10px;
    text-indent: 0;
}
.day_list .note .up {
    background: url("/images/plan/downarrow_icon.png") no-repeat scroll 29px center rgba(0, 0, 0, 0);
}
.day_list .note .down {
    background: url("/images/plan/uparrow_icon.png") no-repeat scroll 29px center rgba(0, 0, 0, 0);
}
.add_activity {
    position: relative;
}
.activity_btn {
    background: url("/images/plan/activity_btn_icon.png?002") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #636363;
    line-height: 22px;
    margin: 20px 20px 0;
    overflow: hidden;
    padding-left: 40px;
}
.activity_btn:hover {
    position: relative;
}
.activity_btn:hover .hot_link {
    display: inline-block;
}
.activity_btn .add_Abtn {
    border-radius: 3px;
    display: inline-block;
    margin: 0 1px 0 5px;
    padding: 0 5px;
}
.activity_btn .add_Abtn:hover {
    background: url("/images/plan/add_abtn_icon.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B5B5B5;
    line-height: 20px;
    margin: 0 0 0 4px;
    text-decoration: none;
}
.activity_btn .add_Abtn:active {
    background-position: 0 -20px;
    color: #85A9CA;
}
.hotel_item {
    padding: 0 0 10px;
    position: relative;
    z-index: 9;
}
.hotel_item .jd_item ul {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.hotel_list {
    border: 1px solid #FFFFFF;
    margin: 10px 5px;
    padding: 14px 0 14px 14px;
    z-index: 8;
}
.hotel_list:hover {
    border: 1px solid #CBCBCB;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 1.2s ease 0s;
}
.hotel_list:hover .p_list_seting {
    display: block;
}
.hotel_list .seting {
    top: 10px;
}
.hotel_list .content {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    padding: 0 20px 0 10px;
}
.hotel_list .content a:hover {
    text-decoration: none;
}
.hotel_list .content div {
    color: #636363;
    line-height: 16px;
    padding-right: 88px;
}
.hotel_list .content div strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.hotel_list .content .tcnt {
    color: #959595;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.hotel_list .content .tcnt a {
    color: #959595;
}
.hotel_list .content .tcnt strong {
    font-weight: 400;
}
.hotel_list .content .tcnt span {
    color: #5FA678;
    padding-right: 20px;
}
.hotel_list .content .overheight {
    color: #959595;
    max-height: 72px;
    overflow: hidden;
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
}
.hotel_list .content .overheight strong {
    font-weight: 400;
}
.hotel_item .common span {
    float: left;
    line-height: 22px;
}
.hotel_item .common .mn em {
    color: #FD6A24;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 3px;
}
.hotel_item .common .pl {
    padding: 0 0 0 15px;
}
.hotel_item .common .pl .star {
    padding: 5px 5px 0 0;
}
.hotel_item .common .pf {
    padding-left: 15px;
}
.hotel_item .note {
    color: #D2D2D2;
    margin-top: 3px;
}
.hotel_item .list_icon {
    float: left;
}
.add_hotel_btn {
    background: url("/images/plan/add_hotel_btn_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #636363;
    line-height: 22px;
    margin: 20px 0 0 20px;
    padding: 1px 0 1px 40px;
}
.add_hotel_btn a {
    border-radius: 3px;
    display: inline-block;
    font-family: 宋体,sans-serif;
    margin: 0 1px 0 5px;
    padding: 0 5px;
}
.add_hotel_btn a:hover {
    color: #006AAC;
    text-decoration: none;
}
.add_hotel_btn .add_Bbtn {
    background: url("/images/plan/add_abtn_icon.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B5B5B5;
    color: #636363;
    line-height: 20px;
    margin: 0 10px 0 4px;
}
.add_hotel_btn .add_Bbtn:active {
    background-position: 0 -20px;
    color: #85A9CA;
}
.add_hotel_btn .add_Abtn:hover {
    background: url("/images/plan/add_abtn_icon.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B5B5B5;
    line-height: 20px;
    margin: 0 0 0 4px;
}
.add_hotel_btn .add_Abtn:active {
    background: url("/images/plan/add_abtn_icon.png") repeat-x scroll 0 -20px rgba(0, 0, 0, 0);
    color: #85A9CA;
}
.traffic_item {
    margin-bottom: 20px;
}
.traffic_item .list {
    background: none repeat scroll 0 0 #FBFBFB;
    border: 1px solid #D8D8D8;
    margin: 20px 20px 0;
    padding: 20px 20px 10px;
}
.traffic_item .list:hover {
    position: relative;
}
.traffic_item .list .edit {
    display: none;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
}
.traffic_item .list:hover .edit {
    display: block;
}
.traffic_item .list .edit a {
    background: url("/images/plan/traffic_list_edit.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
    display: block;
    height: 20px;
    text-indent: -9999px;
    width: 20px;
}
.traffic_item .list .edit .del {
    background-position: 0 0;
}
.traffic_item .list .edit .del:hover {
    background-position: 0 -20px;
}
.traffic_item .list .edit .ebj {
    background-position: -20px 0;
}
.traffic_item .list .edit .ebj:hover {
    background-position: -20px -20px;
}
.traffic_item .list .city {
    float: left;
}
.traffic_item .list .city .name {
    float: left;
    min-width: 72px;
    text-align: center;
}
.traffic_item .list .city .name strong {
    border-bottom: 1px solid #D8D8D8;
    display: inline-block;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    max-width: 76px;
    overflow: hidden;
    padding-bottom: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.traffic_item .list .city .name span {
    background: url("/images/plan/traffic_time_icon.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    margin-top: 8px;
    padding-left: 20px;
}
.traffic_item .list .city .icon {
    background: url("/images/plan/traffic_style_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 56px;
    width: 60px;
}
.traffic_item .list .city .icon_plane {
    background-position: 0 0;
}
.traffic_item .list .city .icon_train {
    background-position: 0 -56px;
}
.traffic_item .list .city .icon_bus {
    background-position: 0 -113px;
}
.traffic_item .list .city .icon_car {
    background-position: 0 -168px;
}
.traffic_item .list .city .icon_steamer {
    background-position: 0 -224px;
}
.traffic_item .list .city .icon_other {
    background-position: 0 -280px;
}
.traffic_item .list .money {
    border-left: 1px solid #D8D8D8;
    float: left;
    margin-bottom: 20px;
    margin-left: 15px;
    padding-left: 15px;
    width: 31.4%;
}
.traffic_item .list .money p {
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_bd_width .traffic_item .list .money {
    border-left: 0 none;
    border-top: 1px solid #D8D8D8;
    margin: 10px 0 20px;
    padding: 20px 0 0;
    width: 100%;
}
.pl_bd_width .traffic_item .list .money p {
    float: left;
    margin-top: 0;
    overflow: hidden;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}
.traffic_item .list .text {
    border-top: 1px solid #D8D8D8;
    color: #959595;
    float: left;
    padding-top: 10px;
    width: 100%;
}
.traffic_btn {
    background: url("/images/plan/traffic_btn_icon.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #636363;
    line-height: 22px;
    margin: 20px 20px 0;
    overflow: hidden;
    padding-left: 40px;
}
.traffic_btn:hover {
    position: relative;
}
.traffic_btn:hover .hot_link {
    display: inline-block;
}
.traffic_btn .add_Abtn {
    border-radius: 3px;
    display: inline-block;
    margin: 0 1px 0 5px;
    padding: 0 5px;
}
.traffic_btn .add_Abtn:hover {
    background: url("/images/plan/add_abtn_icon.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #B5B5B5;
    line-height: 20px;
    margin: 0 0 0 4px;
    text-decoration: none;
}
.traffic_btn .add_Abtn:active {
    background-position: 0 -20px;
    color: #85A9CA;
}
.traffic_input {
    border: 2px dotted #D4D4D4;
    display: none;
    height: 36px;
    margin: 10px 20px 0;
    padding: 5px;
    position: relative;
    text-align: center;
}
.xcd_note {
    padding: 0px 20px 10px 20px;
    position: relative;
    z-index: 7;
}
.xcd_note_text {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 10px;
}
.xcd_note_text textarea {
    /*background: url("/images/plan/xcd_note_text.png") no-repeat scroll -15px 3px #FFFFFF;
	text-indent: 20px;*/
    outline: none;
    border: 0 none;
    color: #636363;
    font-size: 14px;
    min-height: 100px;
    padding: 0;
    width: 100%;
}
.xcd_note_text textarea:focus {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.xcd_note_text .textarea {
    background-position: 0 -22px;
}
.trip_day_image_box span {
	position:relative;
}
.trip_day_image_box img {
	width:100%;
}
.trip_day_image_box li {position:relative; margin-bottom:10px;}
#js_remove_trip_day_image {
	background:#666;
	color:#fff;
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius:30px;
	font-size:20px;
	position:absolute;
	top:10px;
	right:30px;
	cursor:pointer;
}
.pl_rright {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    width: 380px;
}
.pl_bd_width .pl_rright {
    width: 404px;
}
.pl_rtag {
    height: 56px;
    line-height: 55px;
    position: relative;
    z-index: 7;
}
.pl_rtag_shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pl_rtag .pl_rtag_li {
    background: none repeat scroll 0 0 #F1F1F1;
    border-bottom: 1px solid #CFCFCF;
    cursor: pointer;
    float: left;
    height: 56px;
    text-align: center;
    width: 33.3333%;
	list-style:none;
}
.pl_rtag .pl_rtag_li .rtag_jt {
    display: block;
    height: 56px;
}
.pl_rtag .pl_rtag_li .text {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
.pl_rtag .current {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
}
.pl_rtag_shadow .current {
    border-bottom: 1px solid #CFCFCF;
}
.pl_rtag .pl_rtag_li .rtag_line {
    border-left: 1px solid #CFCFCF;
    display: block;
}
.pl_rtag .pl_rtag_li .title {
    float: left;
    font-size: 16px;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pl_bd_width .pl_rtag .pl_rtag_li .title {
    max-width: 98px;
}
.pl_rtag .pl_rtag_li .cBlue {
    float: left;
    font-family: 宋体,sans-serif;
    font-size: 12px;
    line-height: 48px;
    padding-left: 3px;
    padding-top: 3px;
}
.cBlue {
	color: #0073b6;
}
.pl_rtag .csearch_list {
    font-size: 12px;
    left: 10px;
    padding: 0 0 10px;
    right: auto;
    text-align: left;
    top: 42px;
    width: 284px;
}
.pl_rtag .csearch_list .ui_input {
    margin: 10px 10px 0;
}
.pl_rtag .csearch_list .jd_item {
    left: 10px;
    top: 35px;
    width: 262px;
}
.pl_rtag .csearch_list .jd_item ul {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.pl_rtag .csearch_list .hot {
    margin: 6px 10px 0;
}
.pl_rtag .i_scroll {
    height: 272px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.city_list {
    font-size: 14px;
    max-height: 189px;
    overflow-x: hidden;
    overflow-y: auto;
}
.city_list a {
    color: #3D3D3D;
    cursor: pointer;
    display: block;
    line-height: 34px;
    padding: 0 10px;
}
.city_list a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.city_list a:hover {
    text-decoration: none;
	background:#eee;
}
.city_list .select_current {
    color: #F37864;
}
.city_list .select_hover {
    background: none repeat scroll 0 0 #F8F9F9;
}
.pl_bd_width .pl_rtag .csearch_list {
    width: 256px;
}
.pl_bd_width .pl_rtag .csearch_list .ui_input {
    width: 222px;
}
.pl_bd_width .pl_rtag .csearch_list .jd_item {
    width: 232px;
}
.pl_rcity .head {
    line-height: 28px;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
}
.pl_rcity .head div.fl {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #CCCCCC;
    line-height: 26px;
    padding: 0 10px;
}
.pl_rcity .head div.fl a:hover {
    text-decoration: none;
}
.pl_rcity .head div.fl .current {
    color: #636363;
    cursor: default;
    font-weight: 700;
}
.pl_rcity .head .dropdown {
    float: left;
    margin-left: 10px;
}
.pl_rcity .head .dropdown dt a {
    background: url("/images/plan2/downarrow_icon_blod.png?001") no-repeat scroll right center rgba(0, 0, 0, 0);
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    height: 26px;
    line-height: 26px;
    padding: 0 23px 0 10px;
}
.pl_rcity .head .dropdown dd ul {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 0 none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 100px;
    text-align: center;
    top: 0;
}
.pl_rcity .head .dropdown dd ul li {
    border-top: 1px solid #EBEBEB;
    line-height: 36px;
}
.pl_rcity .head .dropdown dd ul a {
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    padding: 0 10px;
}
.pl_rcity .head .dropdown dd ul a:hover {
    background-color: #F8F9F9;
}
.pl_rcity .head .pl_poi_search {
    float: left;
    position: relative;
}
.pl_rcity .head .pl_poi_search input {
    background: url("/images/plan/pl_poi_search_icon.png") no-repeat scroll 10px center #FFFFFF;
    padding: 3px 35px;
	width:100%;
}
.pl_rcity .head .pl_poi_search .close {
    background: url("/images/plan/pl_poi_search_close.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    width: 32px;
}
.pl_rcity .head .search_input_box {
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding-top: 6px;
    width: 100%;
}
.pl_rcity .head .hotel_style .pl_poi_search {
    float: left;
    margin-top: -6px;
}
.pl_rcity .head .hotel_style a {
    float: left;
    margin-right: 15px;
    padding: 0 4px;
}
.pl_rcity .head .hotel_style .s_current {
    background: none repeat scroll 0 0 #4396D4;
    color: #FFFFFF;
}
.pl_rcity .head .hotel_style .s_current:hover {
    text-decoration: none;
}
.pl_rcity .head .hotel_style_disable a {
    color: #959595;
    cursor: default;
}
.pl_rcity .head .hotel_style_disable a:hover {
    text-decoration: none;
}
.pl_rcity .head .hotel_style_disable .s_current {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #959595;
}
.pl_bd_width .h_pg_none {
    display: none;
}
.pl_bd_width .pl_rcity .head p {
    display: none;
}
.pl_poi_cnt .style_tab, .pl_stay_cnt .style_tab {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 10px 20px;
}
.pl_poi_cnt .style_tab .current, .pl_stay_cnt .style_tab .current {
    color: #636363;
}
.pl_poi_cnt .style_tab .current:hover, .pl_stay_cnt .style_tab .current:hover {
    text-decoration: none;
}
.pl_poi_cnt .style_none, .pl_stay_cnt .style_none {
    color: #636363;
    font-size: 18px;
    padding: 0 20px;
}
.pl_rcity {
    overflow: hidden;
    position: relative;
    z-index: 5;
}
.pl_rnote {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 5;
}
.pl_rcity_bg {
    background: url("/images/plan/city_default_bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.pl_rnote_bg {
    background: url("/images/plan/note_default_bg.png?001") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.pl_loadcity {
    background: url("/images/plan/wait_34.gif") no-repeat scroll center center rgba(0, 0, 0, 0);
	height: 100%;
}
.map_loading {
    background: url("/images/plan/map_loading_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 905;
}
.map_loading .loading {
    margin-top: 38%;
    text-align: center;
    width: 100%;
}
.map_loading span {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-size: 18px;
    line-height: 50px;
    padding: 0 35px;
}
.pl_poi_cnt, .pl_stay_cnt {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    z-index: 9;
}
.pl_rnote_map {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.pl_poi_cnt h3 {
    margin-bottom: 15px;
}
.pl_poi_cnt h3 span {
    background: none repeat scroll 0 0 #5FA678;
    color: #FFFFFF;
    display: inline-block;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 0 10px;
}
.pl_poi_cnt h3 strong {
    color: #959595;
    display: inline-block;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 0 10px;
}
.pl_poi_cnt h3 strong em {
    color: #6CC3A0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.pl_poi_cnt .ind_title_more {
    display: inline-block;
    margin: -10px 0 20px;
}
.pl_jtag_shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pl_poi_line .list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0 20px 25px;
    padding: 5px 10px;
    position: relative;
}
.pl_poi_line .list dl {
    padding: 0 120px 10px 0;
}
.pl_poi_line .list dt {
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 16px;
    line-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_poi_line .list dt a {
    color: #636363;
}
.pl_poi_line .list dt a:hover {
    color: #006AAD;
    text-decoration: none;
}
.pl_poi_line .list dd {
    color: #959595;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_poi_line .list li {
    margin-top: 10px;
    padding: 0 10px 5px 32px;
    position: relative;
}
.pl_poi_line .list li span {
    background: url("/images/plan/pl_poi_line_bg.png?001") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    height: 23px;
    left: 0;
    line-height: 23px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 22px;
}
.pl_poi_line .list li p {
    color: #636363;
    line-height: 18px;
    padding: 2px 0 3px;
}
.pl_poi_line .add_btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.pl_poiline_more {
    margin: 0 20px 20px;
}
.pl_poiline_more a {
    border-radius: 3px;
    display: block;
    line-height: 30px;
    text-align: center;
}
.pl_poiline_more a:hover {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CCCCCC;
    line-height: 28px;
    text-decoration: none;
}
.pl_poiline_more a:active {
    background-color: #F1F1F1;
}
.pl_poiline_more .loading {
    background-color: #F1F1F1;
    border: 1px solid #CCCCCC;
    color: #B3B3B3;
    cursor: default;
    line-height: 28px;
}
.pl_poiline_more .loading:hover {
    background-color: #F1F1F1;
}
.pl_poi_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #eee;
    margin: 0 10px 10px 10px;
    padding: 10px 0;
    font-size:12px;
}
.pl_poi_list .header {
    min-height: 60px;
    padding-left: 90px;
    position: relative;
}
.pl_poi_list.note .header {
	min-height:30px;
    padding-left: 0px;
}

.pl_poi_list .header .title_link {
    display: block;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin-right: 120px;
}
.pl_bd_width .pl_poi_list .header .title_link {
    height: 40px;
}
.pl_poi_list .header .title_link:hover {
    text-decoration: none;
}
.pl_poi_list .header .title_link span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-size:14px;
    color:#333;
}
.pl_poi_list .header .title_link:hover span {
    color: #006AAD;
    text-decoration: none;
}
.pl_poi_list .header a.fl {
    left: 0;
    position: absolute;
    top: 0;
}
.pl_poi_list .header .clearfix {
    position: relative;
}
.add_recommend_hotel_btn {
    background: url("/images/plan/pl_poi_addicon2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 109px;
}
.add_btn {
    border:1px solid #5FA678;
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
}
.add_btn .tips:hover {
    background: #5FA678;
    color:#fff;
}
.add_btn .tips {
    background: none repeat scroll 0 0 #fff;

    color: #5FA678;
    float: right;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    line-height: 28px;
    padding: 0 10px;
    white-space: nowrap;
}
.add_btn .tips span {
    background: url("/images/plan/link_hover_icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 5px;
    position: absolute;
    right: 20px;
    top: -5px;
    width: 11px;
}
.pl_poi_list .content {
    color: #6E6E6E;
    line-height: 22px;
}
.pl_poi_list .content .jj_h {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
	margin:0;
}
.note .content .jj_h {
    overflow: auto;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
}
.pl_poi_list .content .dp_h {
    max-height: 44px;
    overflow: hidden;
}
.pl_bd_width .pl_poi_list .header {
    padding-left: 82px;
}
.pl_bd_width .pl_poi_list .header a.fl img {
    height: 48px;
    width: 72px;
}
.pl_bd_width .pl_poi_list .header .clearfix {
    margin: 5px 0 5px -82px;
}
.pl_stay_style h3 {
    margin-bottom: 10px;
}
.pl_stay_style h3 span {
    color: #FFFFFF;
    display: inline-block;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 0 10px;
}
.pl_stay_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0 20px 20px;
    padding: 10px 10px 10px 100px;
    position: relative;
}
.pl_stay_list:hover {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.pl_stay_list a.fl {
    margin-left: -90px;
}
.pl_stay_list a.fl img {
    height: 80px;
    width: 80px;
}
.pl_stay_list h4 {
    line-height: 22px;
    width: 240px;
}
.pl_stay_list h4 a {
    display: block;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_stay_list h4 span {
    color: #959595;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_stay_list .number {
    height: 22px;
    position: absolute;
    right: 15px;
    top: 10px;
}
.pl_stay_list .number span {
    color: #959595;
    float: left;
    font-size: 16px;
    line-height: 30px;
}
.pl_stay_list .number em {
    color: #F58100;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.pl_stay_list .ui_btn_smallB {
    background-color: #5FA678;
    bottom: 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 134px;
}
.pl_stay_list .ui_btn_smallB:hover {
    background-color: #5FB391;
}
.pl_stay_list .add_btn {
    bottom: 15px;
    right: 15px;
    top: auto;
}
.pl_stay_list .info {
    height: 22px;
    padding: 4px 0 0;
}
.pl_stay_list .info .star {
    float: left;
    margin-right: 4px;
    padding-top: 5px;
}
.pl_stay_list .info .star img {
    float: left;
}
.pl_stay_list .info .praise {
    float: left;
    margin-right: 4px;
}
.pl_stay_list .info .grade {
    color: #959595;
    float: left;
    font-size: 14px;
    line-height: 16px;
    padding-top: 1px;
    white-space: nowrap;
}
.pl_bd_width .pl_stay_list h4 {
    width: 150px;
}
.pl_bd_width .pl_stay_list {
    padding-left: 68px;
}
.pl_bd_width .pl_stay_list a.fl {
    margin-left: -58px;
}
.pl_bd_width .pl_stay_list a.fl img {
    height: 48px;
    width: 48px;
}
.pl_bd_width .pl_stay_list .info .praise {
    display: none;
}
.pl_bd_width .pl_stay_list .add_btn {
    background: url("/images/plan/pl_poi_addicon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    width: 30px;
}
.pl_bd_width .pl_stay_list .add_btn .tips {
    right: -11px;
}
.pl_bd_width .pl_stay_list .ui_btn_smallB {
    right: 55px;
}
.pl_stay_search {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 1px #DDDDDD;
    display: none;
    margin: 20px 10px;
    padding: 5px 10px 15px;
}
.pl_stay_search .list {
    margin-top: 10px;
    padding-left: 36px;
}
.pl_stay_search .list span.fl {
    line-height: 24px;
    margin-left: -36px;
    width: 36px;
}
.pl_stay_search .w45 {
    width: 41%;
}
.pl_stay_search .s_text_div {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 0 10px;
}
.pl_stay_search .s_text_div input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    padding: 0;
    width: 100%;
}
.pl_stay_search label .checkbox {
    color: #636363;
    float: left;
    height: 14px;
    margin: 2px 3px 0 0;
    width: 14px;
}
.pl_bd_width .pl_stay_search .w45 {
    width: 36%;
}
.pl_bd_width .pl_stay_search .ui_btn_smallB {
    margin-top: 5px;
}
.pl_rnote_cnt {
    padding-bottom: 20px;
}
.pl_rnote_cnt .head {
    padding: 15px 10px 10px;
}
.pl_rnote_cnt .head .dropdown {
    position: relative;
    z-index: 4;
}
.pl_rnote_cnt .head .dropdown a {
    font-size: 14px;
}
.pl_rnote_cnt .head .dropdown dt a {
    background: url("/images/plan/downarrow_icon.png") no-repeat scroll right center #F3F3F3;
    border: 1px solid #C6C6C6;
    border-radius: 3px;
    color: #6F6F6F;
    height: 26px;
    line-height: 26px;
    padding: 0 22px 0 10px;
}
.pl_rnote_cnt .head .dropdown dt a:hover {
    color: #000000;
}
.pl_rnote_cnt .head .dropdown dt a:active {
    box-shadow: 0 1px 1px #CCCCCC inset;
    color: #000000;
}
.pl_rnote_cnt .head .dropdown dd ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    min-width: 60px;
    top: 0;
}
.pl_rnote_cnt .head .dropdown dd ul a {
    line-height: 28px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 40px;
}
.pl_rnote_cnt .head .dropdown dd ul a:hover {
    background: none repeat scroll 0 0 #F8F9F9;
}
.pl_rnote_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    box-shadow: 0 2px 1px #DDDDDD;
    cursor: pointer;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    margin: 10px 10px 0;
    padding: 7px 10px 10px;
    position: relative;
    z-index: 3;
}
.jj_border2 {
    border-left: 2px solid #EA8E7F;
}
.bj_border2 {
    border-left: 2px solid #5FA678;
}
.pl_rnote_cnt .hover {
    background: none repeat scroll 0 0 #FFFFCE;
}
.pl_rnote_cnt .hover .title {
    position: relative;
}
.pl_rnote_cnt .title {
    padding-right: 30px;
}
.pl_rnote_cnt .title strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_rnote_cnt .icon_date {
    background: url("/images/plan/icon_date.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    padding-left: 19px;
}
.pl_rnote_cnt .more {
    line-height: 34px;
    margin: 10px 10px 0;
}
.pl_rnote_cnt .more a {
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    display: block;
}
.pl_rnote_cnt .more a:hover {
    background: none repeat scroll 0 0 #F1F1F1;
    text-decoration: none;
}
.pl_rnote_cnt .more .more_load {
    background: none repeat scroll 0 0 #F1F1F1;
    color: #B3B3B3;
}
.pl_rnote_cnt .hover .seting {
    right: 2px;
    top: 2px;
}
.pl_rnote_list .content {
    margin-top: 3px;
    max-height: 105px;
    overflow: hidden;
}
.pl_rnote_detail {
    margin: 0 10px;
}
.pl_rnote_detail .title {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    padding: 0 10px;
}
.pl_rnote_detail .title .ui_input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 14px;
    height: 18px;
    padding: 9px 0;
    width: 100%;
}
.pl_rnote_detail .content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CFCFCF;
    color: #636363;
    padding: 6px 10px;
}
.pl_rnote_detail .content .ui_textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    font-size: 14px;
    line-height: 24px;
    min-height: 324px;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}
.pl_selcity {
    text-align: center;
}
.pl_selcity .text {
    background: none repeat scroll 0 0 #EDEDED;
    border-radius: 10px;
    color: #5B5B5B;
    display: inline-block;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin-top: 167px;
    width: 200px;
}
.pl_selcity .input {
    margin-top: 20px;
}
.pl_selcity .input input {
    border-radius: 5px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    width: 178px;
}
.pl_selcity .input .jd_item {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    left: 0;
    padding: 0;
    top: 37px;
    width: 100%;
}
.jd_item .citylist_box { position:absolute; left:0px; top:25px; border:1px solid #c0c0c0; line-height:38px; width:264px; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.1);}
.jd_item .citylist_box a { display:block; padding:0 10px; border-top:1px solid #cbcbcb; color:#636363; font-size:14px;}
.jd_item .citylist_box a.current {background:#f8f9f9; }
.jd_item .citylist_box a:first-child { border-top:0;}
.jd_item .citylist_box a:hover, .pl_traffic_box .item .cnt .citylist a.current { text-decoration:none; background:#f8f9f9;}
.jd_item .citylist_box a span { display:block; width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

.pl_selcity .input ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;
    margin: 0 auto;
    padding: 4px 0;
    width: 198px;
}
.pl_prepare_title {
    border-bottom: 1px solid #CFCFCF;
    line-height: 40px;
    padding: 0 20px;
}
.pl_prepare_shadow {
    border-bottom: 1px solid #C7C7C7;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pl_prepare_title .list {
    color: #CFCFCF;
    font-family: "hiragino sans gb","Microsoft YaHei",黑体,宋体,sans-serif;
    font-size: 14px;
    margin: 0 auto;
    max-width: 692px;
}
.pl_prepare_title .list .current {
    color: #636363;
}
.pl_prepare_cnt {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
}
.pl_prepare_item {
    margin: 0 auto;
    max-width: 680px;
    padding-bottom: 100px;
}
.list_link .link_tab {
	float: left;
}
.list_link a {
	width: 66px;
	float: left;
	height: 29px;
	text-indent: -9999px;
	background: url(/images/plan/link_tab_icon.png) no-repeat;
}
.list_link .link_list {
	border-right: 1px solid #a7a7a7;
	background-position: 0 0;
}
.list_link .current .link_list {
	background-position: 0 -58px;
}
.list_link .link_map {
	background-position: -67px -58px;
}



.pl_poi_box {
    padding: 30px 0 0;
}
.pl_poi_box .title {
    border-bottom: 1px solid #D1D1D1;
    margin: 0 30px -10px;
    padding: 0 0 20px 90px;
    position: relative;
    z-index: 15;
}
.pl_poi_box .title img {
    float: left;
    margin: 0 0 0 -90px;
}
.pl_poi_box .title .ui2_error_layer {
    left: 0;
}
.pl_poi_box .title .btit {
    font-size: 22px;
    line-height: 24px;
    overflow: hidden;
    padding-right: 30px;
	float:left;
}
.pl_poi_box .title .btit:hover {
    color: #5FA678;
    cursor: pointer;
    text-decoration: underline;
}
.pl_poi_box .title .btit strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_poi_box .title .btit span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.pl_poi_box .title .ui2_input {
    padding: 8px 9px;
    width: 380px;
}
.pl_poi_box .title .title_tpap {
    position: relative;
}
.pl_poi_box .title .title_list {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C0C0;
    left: 0;
    position: absolute;
    top: -1px;
    width: 398px;
}
.pl_poi_box .title .title_list li {
    border-top: 1px solid #C0C0C0;
    font-size: 12px;
    line-height: 32px;
}
.pl_poi_box .title .title_list li a {
    color: #636363;
    display: block;
    padding: 0 10px;
}
.pl_poi_box .title .title_list li a:hover {
    background: none repeat scroll 0 0 #E1F1DE;
    text-decoration: none;
}
.pl_poi_box .title .title_list li .current {
    background: none repeat scroll 0 0 #E1F1DE;
}
.pl_poi_box .title .title_list li:first-child {
    border-top: 0 none;
}
.pl_poi_box .title .title_list li .info {
    color: #5FA678;
    font-weight: 700;
}
.pl_poi_box .textarea {
    margin-top: 30px;
    padding-left: 30px;
}
.pl_poi_box .textarea textarea {
    min-height: 100px;
    overflow: auto;
    width: 524px;
}
.pl_poi_box .button {
    padding: 20px 30px;
}
.pl_poi_box .button input {
    padding: 0 25px;
}
.pl_poi_box .button .ui_buttonB {
    background-color: #5FA678;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.pl_poi_box .button .ui_buttonB:hover {
    background-color: #6FAF8E;
}
.pl_poi_box .button .ui_buttonB:active {
    background-color: #5FA678;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.pl_poi_box .button .ui_button_cancel {
    background-color: #FCFCFC;
    border: 1px solid #C0C0C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #323232;
}
.pl_poi_box .button .ui_button_cancel:hover {
    border: 1px solid #D7D7D7;
    color: #323232;
}
.pl_poi_box .button .ui_button_cancel:active {
    border: 1px solid #C0C0C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
.pl_poi_box .list {
    padding-right: 30px;
    position: relative;
    z-index: 10;
}
.pl_poi_box .item {
    float: left;
    line-height: 32px;
    margin-top: 30px;
    width: 50%;
}
.pl_poi_box .hotel_list_cnt .item {
    width: auto;
}
.pl_poi_box .add_item {
    float: left;
    font-size: 14px;
    line-height: 32px;
    margin: 30px 0 0 -50px;
    width: 50%;
}
.pl_poi_box .item .text {
    color: #636363;
    float: left;
    font-size: 14px;
    padding-right: 10px;
    text-align: right;
    width: 93px;
}
.pl_poi_box .item .text span {
    color: #FF0000;
    font-weight: 700;
    padding-right: 2px;
}
.pl_poi_box .item .cnt {
    float: left;
    margin-left: -10px;
    width: 192px;
}
.pl_poi_box .hotel_list_cnt .item .cnt {
    width: auto;
}
.pl_poi_box .item .cnt .ui2_error_layer {
    left: 10px;
}
.pl_poi_box .item .cnt .money {
    color: #5FA678;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    margin-left: 10px;
}
.pl_poi_box .item .cnt .ui2_input {
    float: left;
    margin-left: 10px;
    width: 80px;
}
.pl_poi_box .item .cnt .clearfix {
    float: left;
    width: 100%;
}
.pl_poi_box .item .cnt .citylist {
    display: none;
    float: left;
    position: relative;
    width: 100%;
}
.pl_poi_box .item .cnt .citylist_box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C0C0C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    left: 10px;
    line-height: 38px;
    position: absolute;
    top: -1px;
    width: 180px;
}
.pl_poi_box .item .cnt .citylist a {
    border-top: 1px solid #CBCBCB;
    color: #636363;
    display: block;
    font-size: 14px;
    padding: 0 10px;
}
.pl_poi_box .item .cnt .citylist a:first-child {
    border-top: 0 none;
}
.pl_poi_box .item .cnt .citylist a:hover, .pl_poi_box .item .cnt .citylist a.current {
    background: none repeat scroll 0 0 #F8F9F9;
    text-decoration: none;
}
.pl_poi_box .item .cnt .citylist a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#js_autoheight_clone {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 18px;
	border-width: 0px;
	padding: 0px;
	overflow: hidden;
	visibility: hidden;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}
