* {
    margin: 0;
    outline: medium none;
    padding: 0;
}
a > img {
    border: medium none;
}
header, footer, article, section, nav, aside {
    display: block;
    position: relative;
}
.ie a img {
    border: medium none;
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"), url("/css/fonts/Montserrat400.woff") format("woff");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat-Bold"), url("/css/fonts/Montserrat700.woff") format("woff");
}
body, html {
    min-width: 1100px;
}
body {
    color: #333333;
    font-family: 'Montserrat',Heiti,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}

ul, ol, li {padding:0; margin:0;}
li {list-style:none;display: list-item;}
h1, h2, h3, h4, h5, p {
    font-weight: normal;
    line-height: 1.4em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    color: #333333;
    font-size: 1.2em;
}
h5 {
    font-size: 1em;
}
p {
    margin-bottom: 10px;
}
a {
    color: #A2526D;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 1020px;
    z-index: 1;
}
.col1, .col2, .col50, .col-sidebar, .col-content {
    float: left;
}
.col1, .col2, .col3, .col4, .col50, .col-sidebar, .col-content {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
.col1 {
    width: 320px;
}
.col2 {
    width: 660px;
}
.col3 {
    width: 1000px;
}
.col50 {
    width: 480px;
}
.col-sidebar {
    width: 250px;
}
.col-content {
    width: 730px;
}
.col-content .col1 {
    width: 162px;
}
.col-content .col2 {
    width: 344px;
}
.col-content .col3 {
    float: left;
    width: 526px;
}
.col-content .col4 {
    width: 708px;
}
.col-content .col5 {
    width: 1000px;
}
.relative {
    position: relative;
}
.left {
    display: block;
    float: left;
}
.right {
    display: block;
    float: right;
}
.center {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.block {
    display: block;
}
.clear, .clearfix {
    clear: both;
    font-size: 0;
    line-height: 0;
}
.clear, .clearfix p {
    font-family: "heiti";
    font-size: 14px;
}
.padding-5 {
    padding: 5px;
}
.padding-10 {
    padding: 10px;
}
.padding-20 {
    padding: 20px;
}
.padding-top-0 {
    margin-top: 0;
}
.padding-bottom-0 {
    margin-bottom: 0;
}
.padding-left-0 {
    margin-left: 0;
}
.padding-right-0 {
    margin-right: 0;
}
.padding-top-5 {
    padding-top: 5px;
}
.padding-bottom-5 {
    padding-bottom: 5px;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-right-5 {
    padding-right: 5px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.padding-left-10 {
    padding-left: 10px;
}
.padding-right-10 {
    padding-right: 10px;
}
.padding-top-20 {
    padding-top: 20px;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-left-20 {
    padding-left: 20px;
}
.padding-right-20 {
    padding-right: 20px;
}
.padding-top-40 {
    padding-top: 40px;
}
.padding-bottom-40 {
    padding-bottom: 40px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.section-padding {
    padding-bottom: 30px;
    padding-top: 30px;
}
.margin-5 {
    margin: 5px;
}
.margin-10 {
    margin: 10px;
}
.margin-20 {
    margin: 20px;
}
.margin-top-0 {
    margin-top: 0;
}
.margin-bottom-0 {
    margin-bottom: 0;
}
.margin-left-0 {
    margin-left: 0;
}
.margin-right-0 {
    margin-right: 0;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-right-20 {
    margin-right: 20px;
}
.bg-color-light-blue {
	background-color: #e1ebf3;
}
.logo {width:200px; float:left; padding:10px 0;}
.logo a { font-size:20px;  color:#999; text-decoration:none;}
.site-nav li {
	position: relative;
	width: 20%;
	float: left;
	padding: 20px 0;
}
.site-nav a {
	display: block;
	color: #384d66;
	text-align: center;
	text-decoration: none;
}
.thumb-section-title {
	margin-bottom: 10px;
}
.thumb-section-title ul {
	margin-top: 12px;
	margin-left:10px;
}
.thumb-section-title li {
	float: left;
	margin-left: 13px;
}

.item {
	cursor: pointer;
	height: 100%;
	position: relative;
}

.item .link {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    display: block;
    height: 100%;
}
.item:hover .link {
    text-decoration: none;
}
.item:hover .link {
    background-color: #CB5977;
}
.item:hover .link .title {
    color: #FFFFFF;
}
.item:hover .link .sub-title {
    color: #000000;
}
.item .main-img {
	display: block;
	width: 100%;
}
.item.double .main-img {
    height: 610px;
    width: 100%;
}
.item .detail {
	position: relative;
	height: 110px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}
.item .caption {
	position: absolute;
	top: 20px;
	padding: 0 20px;
}
.item .title {
	line-height: 1em;
}
.item .sub-title {
	margin-top: 4px;
	font-size: .9em;
}
