﻿/* plans puppo traffic */
.pl_traffic_box { padding:30px 30px 30px 0;}
.pl_traffic_box h3 { font-size:22px; line-height:24px; height:24px; padding-left:30px;}

/* textarea */
.pl_traffic_box .textarea { padding-left:30px; margin-top:20px;}
.pl_traffic_box .textarea textarea { width:524px; min-height:72px; overflow:auto;}

/* button */
.pl_traffic_box .button { margin-top:7px;}
.pl_traffic_box .button input { padding:0 25px;}
.pl_traffic_box .button .ui_buttonB { background-color:#5fa678; box-shadow:0 1px 2px rgba(0,0,0,0.1);}
.pl_traffic_box .button .ui_buttonB:hover { background-color:#6faf8e;}
.pl_traffic_box .button .ui_buttonB:active { background-color:#5fa678; box-shadow:0 1px 2px rgba(0,0,0,0.1) inset;}
.pl_traffic_box .button .ui_button_cancel { background-color:#fcfcfc; color:#999; border:1px solid #c0c0c0; box-shadow:0 1px 2px rgba(0,0,0,0.1);}
.pl_traffic_box .button .ui_button_cancel:hover { border:1px solid #d7d7d7; color:#323232;}
.pl_traffic_box .button .ui_button_cancel:active { border:1px solid #c0c0c0; box-shadow:0 1px 2px rgba(0,0,0,0.1) inset;}

/* 推荐信息 */
.pl_traffic_box .tips { width:100%; float:left; margin:10px 0 -10px; color:#636363;}
.pl_traffic_box .tips .content { margin:0 0 0 30px; padding:10px 15px; background:#f8f8f8; border-radius:3px;}
.pl_traffic_box .tips .title { line-height:20px; padding-left:21px; background:url(/images/plan/icon_info.png) no-repeat 0 center; cursor:pointer;}
.pl_traffic_box .tips .title .arrow { background:url(/images/plan/traffic_style_arrow.png) no-repeat 0 -40px; width:20px; display:inline-block; vertical-align:top; height:20px;}
.pl_traffic_box .tips .title .arrow1 { background-position:0 -60px;}
.pl_traffic_box .tips .list { line-height:32px; margin-top:6px; display:none;}
.pl_traffic_box .tips .list li { padding-left:21px; background:url(/images/plan/tra_style_icon.png) no-repeat;}
.pl_traffic_box .tips .list .plane { background-position:0 -4px;}
.pl_traffic_box .tips .list .train { background-position:0 -44px;}
.pl_traffic_box .tips .list .bus { background-position:0 -79px;}
.pl_traffic_box .tips .list .car { background-position:0 -117px;}
.pl_traffic_box .tips .list .steamer { background-position:0 -156px;}
.pl_traffic_box .tips .list .other { background-position:0 -194px;}
.pl_traffic_box .tips .list li strong { font-weight:700; color:#5fa678;}

/* select 分类 */
.pl_traffic_box .item { float:left; width:50%; line-height:32px; margin-top:20px;}
.pl_traffic_box .item .text { float:left; color:#636363; text-align:right; font-size:14px; width:93px; padding-right:10px;}
.pl_traffic_box .item .text span { padding-right:2px; color:#f00; font-weight:700;}
.pl_traffic_box .item .cnt { float:left; margin-left:-10px; width:192px;}
.pl_traffic_box .item .cnt .ui2_error_layer { left:10px;}
.pl_traffic_box .item .cnt .money { float:right; font-size:18px; font-family:Arial, Helvetica, sans-serif; color:#5fa678;}
.pl_traffic_box .item .cnt .ui2_input { margin-left:10px; float:left; width:166px;}
.pl_traffic_box .item .cnt .clearfix { float:left; width:100%;}
.pl_traffic_box .item .cnt .citylist { position:relative; width:100%; float:left; display:none;}
.pl_traffic_box .item .cnt .citylist_box { position:absolute; left:10px; top:-1px; border:1px solid #c0c0c0; line-height:38px; width:180px; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.1);}
.pl_traffic_box .item .cnt .citylist a { display:block; padding:0 10px; border-top:1px solid #cbcbcb; color:#636363; font-size:14px;}
.pl_traffic_box .item .cnt .citylist a:first-child { border-top:0;}
.pl_traffic_box .item .cnt .citylist a:hover, .pl_traffic_box .item .cnt .citylist a.current { text-decoration:none; background:#f8f9f9;}
.pl_traffic_box .item .cnt .citylist a span { display:block; width:100%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}

/* 下拉框 - 交通方式 */
.tra_style_select { margin-left:10px;}
.tra_style_select .titles { width:146px; background:#fff url(/images/plan/tra_select_icon.png) no-repeat right center; border:1px solid #c0c0c0; line-height:30px; display:block; padding:0 24px 0 10px; font-size:14px; color:#636363; cursor:pointer;}
.tra_style_select .titles span { display:block; background:url(/images/plan/tra_style_icon.png) no-repeat; padding-left:27px;}
.tra_style_select .titles .plane { background-position:0 -4px;}
.tra_style_select .titles .train { background-position:0 -44px;}
.tra_style_select .titles .bus { background-position:0 -80px;}
.tra_style_select .titles .car { background-position:0 -118px;}
.tra_style_select .titles .steamer { background-position:0 -157px;}
.tra_style_select .titles .other { background-position:0 -195px;}
.tra_style_select .ui2_error { border:1px solid #cb0900; box-shadow:0 0 0 rgba(0,0,0,0);}
.tra_style_select .contents { position:absolute; top:31px; left:0; border:1px solid #c0c0c0; line-height:38px; width:180px; background:#fff; box-shadow:0 1px 2px rgba(0,0,0,0.1); display:none;}
.tra_style_select .contents ul li { border-top:1px solid #ebebeb; line-height:38px; font-size:14px; list-style:none;}
.tra_style_select .contents ul li:first-child { border-top:0;}
.tra_style_select .contents ul li:hover { background:#f8f9f9;}
.tra_style_select .contents ul a { background:url(/images/plan/tra_style_icon.png) no-repeat; display:block; color:#636363; padding:0 10px 0 37px;}
.tra_style_select .contents ul a:hover { text-decoration:none;}
.tra_style_select .contents ul .plane { background-position:10px -1px;}
.tra_style_select .contents ul .train { background-position:10px -40px;}
.tra_style_select .contents ul .bus { background-position:10px -77px;}
.tra_style_select .contents ul .car { background-position:10px -114px;}
.tra_style_select .contents ul .steamer { background-position:10px -152px;}
.tra_style_select .contents ul .other { background-position:10px -192px;}

/* 下拉框 - 时间 数量 */
.tra_select { margin-left:10px; float:left;}
.tra_select .titles { background:#fff url(/images/plan/tra_select_icon.png) no-repeat right center; border:1px solid #c0c0c0; line-height:30px; display:block; padding:0 21px 0 10px; font-size:14px; color:#636363; cursor:pointer;}
.tra_select .titles span { display:block; min-width:16px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.tra_select .contents { position:absolute; top:31px; left:0; line-height:38px; min-width:100%; display:none;}
.tra_select .contents ul { border:1px solid #c0c0c0; box-shadow:0 1px 2px rgba(0,0,0,0.1); background:#fff; max-height:220px; overflow:hidden; overflow-y:auto;}
.tra_select .contents ul li { border-top:1px solid #ebebeb; line-height:38px; font-size:14px;}
.tra_select .contents ul li:first-child { border-top:0;}
.tra_select .contents ul li:hover { background:#f8f9f9;}
.tra_select .contents ul a { display:block; color:#636363; padding:0 35px 0 10px; white-space:nowrap;}
.tra_select .contents ul a:hover { text-decoration:none;}

/* 花费 */
.pl_traffic_box .item .cnt .money_select { width:192px;}
.pl_traffic_box .item .cnt .money_select .ui2_input { width:52px; float:left;}
.pl_traffic_box .item .cnt .money_select .tra_select { margin-left:0;}
.pl_traffic_box .item .cnt .money_select .tra_select .titles { width:80px; border-left:0;}
