*{
    padding:0;
    margin:0;
    font-size: 13px;
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
p{margin-bottom: 0;}
body {background:#f6f6f6;}
.w-1000{
    width:100%;
    max-width: 1000px;
    margin:0 auto;
}
.w-1100{
    width:100%;
    max-width: 1100px;
    margin:0 auto;
}
a:hover{text-decoration: none}
li{list-style: none}
.block{display:block}
.none{display:none}

.banner-simple {width: 100%;height: 125px;background: url('/images/banner3.jpg') center no-repeat; margin-bottom: 20px;}
.login-bg {background-image:url('/images/login/taiwan.jpg');}
.login-bg .main {width:280px;float:right; background: #fff; padding:20px; margin-top:80px;}
.login-bg .reg-tips {font-size:13px;}
.login-bg .reg-tips a {font-size:13px;}


