body {
    font-size: 14px;
    min-width: 1000px;
}
.up-container {
    max-width: 100%;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.login-username, .login-password, .login-hr {
    background: url("../../images/login.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.body-login {
    background: none repeat scroll 0 0 #F6F6F1;
}
a {
    color: #70C1D3;
    cursor: pointer;
    text-decoration: none;
}
a:hover, a:focus {
    color: #70C1D3;
    text-decoration: underline;
}
.tcw100 {
    width: 100px;
}
.tcw200 {
    width: 200px;
}
.tcw250 {
    width: 300px;
}
.upicon {
    background-image: url("../../images/upai_icons.png");
    display: inline-block;
}
.upicon-bucket {
    background-position: 0 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-bucket, .active .upicon-bucket {
    background-position: 0 -30px;
}
.upicon-block {
    background-position: -30px 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-block, .active .upicon-block {
    background-position: -30px -30px;
}
.upicon-thumbs {
    background-position: -60px 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-thumbs, .active .upicon-thumbs {
    background-position: -60px -30px;
}
.upicon-stats {
    background-position: -90px 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-stats, .active .upicon-stats {
    background-position: -90px -30px;
}
.upicon-logs {
    background-position: -120px 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-logs, .active .upicon-logs {
    background-position: -120px -30px;
}
.upicon-tools {
    background-position: -150px 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-tools, .active .upicon-tools {
    background-position: -150px -30px;
}
.upicon-account {
    background-position: -180px 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-account, .active .upicon-account {
    background-position: -180px -30px;
}
.upicon-deal {
    background-position: -210px 0;
    height: 22px;
    width: 22px;
}
.accordion-heading:hover .upicon-deal, .active .upicon-deal {
    background-position: -210px -30px;
}
.upicon-arrow-ud-sm {
    background-position: -20px -60px;
    height: 16px;
    width: 16px;
}
.opened .upicon-arrow-ud-sm {
    background-position: 0 -60px;
    height: 16px;
    width: 16px;
}
.upicon-arrow-left {
    background-position: -40px -60px;
    height: 16px;
    width: 16px;
}
.upicon-arrow-right {
    background-position: -70px -60px;
    height: 16px;
    width: 16px;
}
.upicon-search {
    background-position: -130px -60px;
    height: 17px;
    width: 17px;
}
.upicon-edit {
    background-position: 0 -110px;
    height: 18px;
    width: 18px;
}
a:hover .upicon-edit, .upicon-edit:hover {
    background-position: 0 -140px;
    height: 18px;
    width: 18px;
}
.upicon-edit.reverse {
    background-position: 0 -140px;
    height: 18px;
    width: 18px;
}
a:hover .upicon-edit.reverse, .upicon-edit.reverse:hover {
    background-position: 0 -110px;
    height: 18px;
    width: 18px;
}
.upicon-enabled {
    background-position: -30px -110px;
    height: 18px;
    width: 18px;
}
.upicon-disabled {
    background-position: -60px -110px;
    height: 18px;
    width: 18px;
}
a:hover .upicon-disabled, .upicon-disabled:hover {
    background-position: -60px -140px;
    height: 18px;
    width: 18px;
}
a:hover .upicon-enabled, .upicon-enabled:hover {
    background-position: -30px -140px;
    height: 18px;
    width: 18px;
}
.upicon-delete {
    background-position: -90px -110px;
    height: 18px;
    width: 18px;
}
a:hover .upicon-delete, .upicon-delete:hover, .upicon-delete-active {
    background-position: -90px -140px;
    height: 18px;
    width: 18px;
}
.upicon-preview {
    background-position: -120px -110px;
    height: 18px;
    width: 18px;
}
a:hover .upicon-preview {
    background-position: -120px -140px;
}
.upicon-download {
    background-position: -150px -110px;
    height: 18px;
    width: 18px;
}
a:hover .upicon-download {
    background-position: -150px -140px;
}
.upicon-question {
    background-position: -180px -110px;
    height: 18px;
    width: 18px;
}
.upicon-question:hover {
    background-position: -180px -140px;
}
.upicon-circle-arrow {
    background-position: -240px -110px;
    height: 18px;
    width: 18px;
}
.accordion-heading:hover .upicon-circle-arrow {
    background-position: -240px -140px;
}
.opened .upicon-circle-arrow, .opened.upicon-circle-arrow {
    background-position: -210px -110px;
}
.opened:hover .upicon-circle-arrow .opened.upicon-circle-arrow:hover {
    background-position: -210px -140px;
}
.upicon-true {
    background-position: -300px -110px;
    height: 24px;
    width: 24px;
	cursor:pointer;
}
.upicon-false {
    background-position: -300px -140px;
    height: 24px;
    width: 24px;
	cursor:pointer;
}
.upicon-config {
    background-position: 0 -180px;
    height: 16px;
    width: 16px;
}
a:hover .upicon-config {
    background-position: 0 -210px;
}
.upicon-log-out {
    background-position: -30px -180px;
    height: 16px;
    width: 16px;
}
a:hover .upicon-log-out {
    background-position: -30px -210px;
}
.upicon-sort-down {
    background-position: -60px -180px;
    height: 16px;
    width: 16px;
}
.active .upicon-sort-down, .upicon-sort-down:hover, a:hover .upicon-sort-down {
    background-position: -60px -210px;
}
.upicon-sort-up {
    background-position: -90px -180px;
    height: 16px;
    width: 16px;
}
.active .upicon-sort-up, .upicon-sort-up:hover, a:hover .upicon-sort-up {
    background-position: -90px -210px;
}
.upicon-email, .upicon-github, .upicon-weibo {
    height: 20px;
    width: 20px;
}
.upicon-email {
    background-position: -43px -240px;
}
a:hover .upicon-email {
    background-position: -43px -270px;
}
.upicon-github {
    background-position: -82px -240px;
}
a:hover .upicon-github {
    background-position: -82px -270px;
}
.upicon-weibo {
    background-position: -122px -240px;
}
a:hover .upicon-weibo {
    background-position: -122px -270px;
}
.upicon-plus-sign-gray {
    background-position: 0 -310px;
    height: 26px;
    width: 26px;
}
a:hover .upicon-plus-sign-gray, .upicon-plus-sign-gray:hover {
    background-position: 0 -350px;
}
.upicon-plus-sign-blue {
    background-position: -40px -310px;
    height: 26px;
    width: 26px;
}
a:hover .upicon-plus-sign-blue, .upicon-plus-sign-blue:hover {
    background-position: -40px -350px;
}
.upicon-plus-sign {
    background-position: -40px -310px;
    height: 26px;
    width: 26px;
}
.upicon-plus-sign:hover {
    background-position: -40px -350px;
}
.upicon-on {
    background-position: -80px -310px;
    height: 26px;
    width: 26px;
}
a:hover .upicon-on {
    background-position: -160px -310px;
}
.upicon-off {
    background-position: -80px -350px;
    height: 26px;
    width: 26px;
}
a:hover .upicon-off {
    background-position: -160px -350px;
}
.upicon-refresh {
    background-position: -120px -310px;
    height: 26px;
    width: 26px;
}
.upicon-feedback-phone, .upicon-feedback-qq, .upicon-feedback-form {
    display: inline-block;
    height: 64px;
    width: 64px;
}
.upicon-feedback-phone {
    background-position: -330px -490px;
}
.upicon-feedback-qq {
    background-position: -410px -490px;
}
.upicon-feedback-form {
    background-position: -490px -490px;
}
.upicon-bucket-file, .upicon-bucket-image, .upicon-bucket-cdn {
    height: 22px;
    width: 22px;
}
.upicon-bucket-file {
    background-position: 0 -750px;
}
.upicon-bucket-image {
    background-position: -30px -750px;
}
.upicon-bucket-cdn {
    background-position: -60px -750px;
}
.required-mark {
    color: #FA1919;
    font-weight: 700;
    margin-right: 5px;
}
.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.text-sm {
    font-size: 12px;
}
.text-bold {
    font-weight: 700;
}
.text-assist {
    color: #777777;
}
.text-tip {
    color: #999999;
}
.text-info {
    color: #70C1D3;
}
.text-info:hover {
    color: #70C1D3;
}
.text-value {
    color: #D9DFE7;
}
.text-muted {
    color: #CCCCCC;
}
.text-important {
    color: #E85952;
}
.text-success {
    color: #3E9836;
}
.text-success:hover {
    color: #3E9836;
}
.text-primary {
    color: #444444;
}
.text-primary:hover {
    color: #444444;
}
.text-warning {
    color: #F8896F;
}
.text-warning:hover {
    color: #F8896F;
}
.text-error {
    color: #E85952;
}
.link-main {
    color: #70C1D3;
}
.link-main:hover {
    color: #70C1D3;
}
.link-assist {
    color: #999999;
}
.link-assist:hover {
    color: #7BBAD6;
}
.link-muted {
    color: #777777;
}
.link-muted:hover {
    color: #5593A0;
}
.help-tooltip {
    height: 18px;
    width: 18px;
}
.help-tooltip-input {
    position: relative;
    top: 7px;
}
.help-tooltip-radio {
    position: relative;
    top: 2px;
}
.star-important {
    color: #FF0000;
}
.tag {
    background-color: #FFFFFF;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    white-space: nowrap;
}
.tag:hover {
    text-decoration: none;
}
.collapse-panel {
    border: 1px solid #F9F9F9;
    color: #444444;
    margin-bottom: 0.5em;
}
.collapse-panel-head {
    background: none repeat scroll 0 0 #F8F8F8;
    border-left: 5px solid #FE9C80;
    color: #767676;
    cursor: pointer;
    height: 2em;
    line-height: 2em;
    padding-left: 2em;
}
.collapse-panel-head .upicon {
    margin-right: 2em;
    position: relative;
    top: 2px;
}
.collapse-panel-code .collapse-panel-head {
    border-left-color: #FFCC3F;
}
.collapse-panel-body h4 {
    color: #777777;
}
.collapse-panel-body .well {
    width: 600px;
}
.collapse-panel-body pre {
    word-break: normal;
}
.control-panel {
    height: 100%;
    position: fixed;
    width: 200px;
}
.control-panel hr {
    border-color: #2E3337;
    margin: 16px 0 0;
}
.wrapper {
    margin-left: 200px;
    padding-top: 44px;
}
.main {
	/*
    padding-right: 300px;
	*/
}
.aside {
    position: absolute;
    right: 20px;
    top: 64px;
    width: 295px;
}
.control-panel {
    background: none repeat scroll 0 0 #34393D;
    padding-top: 44px;
    z-index: 1000;
}
.brand {
    background:  no-repeat scroll 20px center #272B2E;
    display: inline-block;
    height: 44px;
	line-height:44px;
    width: 200px;
	text-align:center;
	color:#ccc;
	font-size:15px;
}
.btn-switch {
    background-color: #02A4C6;
    background-image: none;
    border-color: #02A4C6;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    margin-left: 20px;
    margin-top: 25px;
    overflow: hidden;
    text-shadow: none;
    width: 85%;
}
.btn-switch i {
    margin-right: 20px;
}
.btn-switch .btn-name {
    position: relative;
    top: -6px;
}
.switch-bucket-list {
    background: none repeat scroll 0 0 #41474D;
    margin: 35px auto 0;
    width: 85%;
}
.switch-bucket-list .bucket-search {
    border-bottom: 2px solid #34393D;
}
.bucket-search .form-control {
    background: none repeat scroll 0 0 #41474D;
    border: 0 none;
    border-radius: 0;
    color: #959EAC;
    font-size: 14px;
    height: 42px;
}
.bucket-search .form-control:focus {
    border: 0 none;
    box-shadow: none;
}
.bucket-search .btn {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    color: #FCFFFF;
    font-size: 16px;
    height: 42px;
}
.switch-bucket-list .list-bucket {
    border-top: 1px solid #34393D;
    margin-bottom: 0;
    max-height: 420px;
    overflow-y: scroll;
    padding: 0;
}
.switch-bucket-list .list-bucket li {
    padding: 0 12px;
}
.switch-bucket-list .list-bucket li:hover {
    background: none repeat scroll 0 0 #272B2E;
    height: 43px;
    margin-top: -1px;
    padding-top: 1px;
}
.switch-bucket-list .list-bucket li:hover a {
    border-bottom-color: rgba(0, 0, 0, 0);
}
.switch-bucket-list .list-bucket li a {
    border-bottom: 1px dashed #34393D;
    color: #BDC5D1;
    display: block;
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    text-decoration: none;
}
.switch-bucket-list .list-bucket li:nth-last-child(1) a {
    border-bottom: 0 none;
}
.switch-bucket-list .list-bucket li i {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 6px;
}
.switch-bucket-list .nav-list {
    border-top: 2px solid #525A65;
}
.nav-list i {
    position: relative;
    top: 2px;
}
.nav-list ul {
    margin: 0 auto;
    padding: 12px;
}
.nav-list li {
    display: inline;
}
.nav-list li a {
    background: none repeat scroll 0 0 #3F4752;
    color: #BDC5D1;
    width: 45%;
}
.nav-list li a:hover {
    background: none repeat scroll 0 0 #353B44;
    color: #BDC5D1;
}
.nav-list li a:active {
    background: none repeat scroll 0 0 #374861;
}
.nav-list li a.prev {
    float: left;
}
.nav-list li a.next {
    float: right;
}
.cp-create-bucket {
    margin: 0 auto;
    padding: 28px 0 0;
    width: 85%;
}
.cp-create-bucket .btn-cteate-bucket {
    border: 2px dashed #434D57;
    color: #6E7A85;
    display: table-cell;
    font-size: 18px;
    height: 88px;
    padding: 0;
    vertical-align: middle;
    width: 1000px;
}
.cp-create-bucket .btn-cteate-bucket:hover {
    background: none repeat scroll 0 0 #43484C;
    border-color: #DEF5ED;
    color: #FFFFFF;
}
.cp-create-bucket .btn-cteate-bucket span {
    left: 10px;
    position: relative;
    top: -6px;
}
.modal-body-create-bucket .input-group-addon {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    color: #777777;
}
.modal-body-create-bucket .bucket-create-steps {
    margin-bottom: 3em;
    padding-left: 12px;
}
.modal-body-create-bucket .bucket-create-steps span {
    background-image: url("../../images/steps_img.png");
    display: inline-block;
    height: 30px;
    width: 195px;
}
.modal-body-create-bucket .bucket-create-step1 {
    background-position: 0 0;
}
.modal-body-create-bucket .bucket-create-step2 {
    background-position: -197px -40px;
}
.modal-body-create-bucket .bucket-create-step3 {
    background-position: -394px -40px;
}
.bucket-create-steps-2 .bucket-create-step1 {
    background-position: 0 -40px;
}
.bucket-create-steps-2 .bucket-create-step2 {
    background-position: -197px 0;
}
.bucket-create-steps-3 .bucket-create-step1 {
    background-position: 0 -40px;
}
.bucket-create-steps-3 .bucket-create-step3 {
    background-position: -394px 0;
}
.modal-body-create-bucket-step3 .alert-bucket-created {
    font-size: 16px;
    text-align: center;
}
.modal-body-create-bucket-step3 .alert-bucket-created i {
    margin-right: 1em;
    position: relative;
    top: 6px;
}
.modal-body-create-bucket-step3 span.text-primary {
    text-decoration: underline;
}
.modal-body-create-bucket-step3 span.text-tip {
    font-size: 12px;
}
.modal-body-create-bucket-step3 li:nth-child(1) {
    margin-bottom: 10px;
}
.info-field {
    border-bottom: 1px solid #2E3337;
    color: #959EAC;
    margin-top: 1.5em;
    padding: 0 20px 5px;
    width: 100%;
}
.info-field h3 {
    border-bottom: 1px solid #2E3337;
    font-size: 14px;
    padding-bottom: 10px;
}
.account-spec {
    font-size: 12px;
}
.account-spec .progress {
    height: 10px;
    width: 100%;
}
.account-spec p {
    height: 18px;
    margin: 0.2em;
}
.main-nav .accordion {
    padding-top: 16px;
}
.main-nav .accordion-heading {
    margin: 6px 0;
    padding: 4px 20px 4px 21px;
    position: relative;
}
.main-nav .accordion-heading:hover {
    background: none repeat scroll 0 0 #41474D;
}
.main-nav .accordion-heading.active-general, .main-nav .accordion-heading.active {
    border-left: 2px solid #34C0E0;
    padding-left: 19px;
}
.main-nav .accordion-heading i {
    position: relative;
    top: 0;
}
.main-nav .accordion-heading i.upicon-arrow-ud-sm {
    height: 16px;
    position: absolute;
    right: 0;
    top: 8px;
    width: 16px;
}
.main-nav .accordion-toggle, .main-nav a {
    color: #959EA5;
    font-size: 14px;
    text-decoration: none;
}
.main-nav .accordion-heading:hover, .main-nav .accordion-heading:hover a, .main-nav .accordion-heading.active a, .main-nav .accordion-heading:hover span, .main-nav .accordion-heading.active span {
    color: #FFFFFF;
}
.main-nav .accordion-heading.disabled {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.main-nav .accordion-heading.disabled:hover span, .main-nav .accordion-heading.disabled:hover a {
    color: #959EA5;
    cursor: not-allowed;
}
.main-nav .accordion-heading.disabled:hover a i {
    background-position: -60px 0;
}
.main-nav .accordion-heading.disabled {
    opacity: 0.6;
}
.main-nav .accordion-heading a, .main-nav .accordion-toggle span {
    height: 22px;
    line-height: 22px;
    position: absolute;
}
.main-nav .accordion-toggle > a {
    display: block;
    width: 100%;
}
.main-nav .accordion-toggle > p {
    margin: 0;
}
.main-nav .accordion-heading a {
    display: inline-block;
}
.login-info {
    background: none repeat scroll 0 0 #34393D;
    border-top: 1px solid #2E3337;
    bottom: 0;
    color: #BDC5D1;
    height: 40px;
    left: 0;
    padding: 0 10px 0 20px;
    position: fixed;
    width: 200px;
}
.login-info .login-user {
    font-size: 14px;
    line-height: 40px;
}
.login-ctrl {
    position: relative;
    top: 12px;
}
.sep {
    color: #646D7A;
    font-size: 20px;
    line-height: 22px;
    margin: 0 10px;
}
.header {
    background-color: #E7EFF5;
    border-bottom: 1px solid #D8DEE5;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1010;
}
.header .breadcrumb {
    display: inline-block;
    position: absolute;
	background-color: #E7EFF5;
	padding:0 20px;
	line-height:43px;
	margin:0;
}
.content {
    padding: 10px 20px;
}
.btn-chart {
    background-color: #515B65;
    background-image: none;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    margin-right: 8px;
    text-shadow: none;
}
.btn-chart[disabled] {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #FFFFFF;
}
.btn-chart:hover {
    background: none repeat scroll 0 0 #515B65;
    color: #FFFFFF;
}
.btn-chart-inactive {
    background: none repeat scroll 0 0 #EBEBEB;
    border-color: #ADADAD;
    color: #777777;
}
.btn-day-range .dropdown-toggle, .btn-day-range .caret {
    color: #525A65;
    font-size: 12px;
}
.btn-day-range .dropdown-toggle:hover {
    text-decoration: none;
}
.btn-day-range .caret {
    margin-left: 10px;
}
.buckets {
    position: relative;
}
.buckets > strong {
    color: #5F5F5F;
    font-size: 14px;
}
.buckets-helper {
    font-size: 14px;
}
.buckets .progress {
    margin-bottom: 0;
    width: 50%;
}
.buckets-percent {
    color: #02A3C6;
    font-size: 12px;
    font-weight: 700;
    margin-left: 20px;
}
.buckets-helper a {
    background-image: url("../../images/upai_icons.png");
    background-position: 0 -710px;
    color: #999999;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    padding-left: 38px;
    width: 98px;
}
.buckets-helper a:hover {
    background-position: 0 -670px;
    color: #34C0E0;
    text-decoration: none;
}
.buckets-helper a:active {
    background-position: 0 -630px;
    color: #34C0E0;
}
.buckets-helper a[disabled] {
    background-position: 0 -590px;
    color: #DDDDDD;
}
.table-buckets-details .bucket-type {
    border-radius: 3px;
    display: inline-block;
    height: 16px;
    margin-right: 10px;
    width: 16px;
}
.bucket-type-image {
    background-color: #FEBAA8;
}
.bucket-type-file {
    background-color: #FBE89E;
}
.bucket-type-cdn {
    background-color: #99CCA6;
}
.aside {
    color: #525A65;
    font-size: 12px;
}
.aside .alert {
    line-height: 25px;
}
.aside-alert {
    padding-bottom: 3px;
    padding-top: 3px;
}
.aside .tabs-switch {
    margin-bottom: 14px;
}
.aside .tabs-switch .tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #F7F7F7 #F7F7F7;
    border-image: none;
    border-right: 1px solid #F7F7F7;
    border-style: none solid solid;
    border-width: 0 1px 1px;
}
.aside .tabs-switch .nav-tabs li {
    -moz-box-sizing: border-box;
    min-width: 0;
    width: 33.3333%;
}
.aside .tabs-switch .tab-pane {
    min-height: 260px;
    padding: 26px 20px 0;
}
.aside .btn-doc {
    background: none repeat scroll 0 0 #EBEBEB;
    border-radius: 0;
    color: #777777;
    margin-bottom: 14px;
    padding: 10px 18px;
    width: 145px;
}
.aside .btn-doc:hover {
    background: none repeat scroll 0 0 #515B65;
    color: #FFFFFF;
}
.backlight-title {
    background-color: #F0F0F0;
    border-radius: 4px;
    color: #5F5F5F;
    display: inline-block;
    margin-right: 5px;
    padding: 0 3px;
}
.contact {
    border: 1px solid #F7F7F7;
    margin-bottom: 14px;
    padding: 20px;
}
.contact .aside-block-tit {
    color: #999999;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}
.contact .dl-alignleft {
    margin-bottom: 10px;
}
.contact .dl-alignleft dt {
    height: 18px;
    width: auto;
}
.contact .dl-alignleft dd {
    margin-left: auto;
    min-height: 18px;
}
.btn-report {
    background-color: #3E4852;
    background-image: none;
    border: 0 none;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-shadow: none;
    width: 100%;
}
.aside-banner {
    border: 1px solid #F7F7F7;
}
.connect {
    background-color: rgba(63, 71, 82, 0.3);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    bottom: 0;
    height: 38px;
    padding: 9px 0;
    position: fixed;
    right: 20px;
}
.connect-link {
    color: #3D4751;
    display: inline-block;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 46px;
}
.connect-link i {
    top: -2px;
}
.connect .sep {
    border-left: 1px solid #D7D9DE;
    display: inline-block;
    height: 20px;
    margin: 0;
    width: 1px;
}
.content-detail h3 {
    border-bottom: 1px solid #DDDDDD;
    color: #777777;
    font-size: 14px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
    width: 96%;
}
.buckets caption {
    text-align: left;
}
.badage-itm {
    background: none repeat scroll 0 0 #F8F8F8;
    border-radius: 4px;
    display: block;
    height: 45px;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
}
.badage-itm .value {
    background: none repeat scroll 0 0 #E5EAE9;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: #99B5C3;
    display: inline-block;
    font-size: 25px;
    height: 45px;
    line-height: 45px;
    padding: 0 0.4em;
    text-align: center;
    width: 2em;
}
.badage-itm .value i.upicon {
    position: relative;
    top: 4px;
}
.badage-itm span:nth-last-child(1) {
    color: #677180;
    display: inline-block;
    font-size: 14px;
    height: 45px;
    line-height: 45px;
    padding-left: 16px;
    position: absolute;
    top: 0;
}
.badage-itm:hover {
    background: none repeat scroll 0 0 #D2EAF8;
    color: #80B4D3;
}
.badage-itm:hover .value {
    background: none repeat scroll 0 0 #6EC2F1;
    color: #FFFFFF;
}
.operators-table-title {
    bottom: -10px;
    position: relative;
}
.content-general-basic form button {
    margin-left: 2em;
}
.content-general-basic form {
    margin-bottom: 2em;
}
.form-api-secret {
    height: 24px;
    margin: 2em 0;
}
.form-api-secret-section {
    background: none repeat scroll 0 0 #CBD0D1;
    height: 24px;
    margin-right: 0.5em;
    padding-right: 5px;
}
.form-api-secret-title {
    background: none repeat scroll 0 0 #97A9B2;
    color: #FFFFFF;
    display: inline-block;
    height: 24px;
    padding-left: 5px;
    position: relative;
    top: -2px;
}
.form-api-secret-section form {
    display: inline-block;
}
.form-api-secret-section form input {
    background: none repeat scroll 0 0 #CBD0D1;
    border: 0 none;
    height: 24px;
    width: 300px;
}
.form-api-secret .btn {
    margin-right: 0.5em;
}
.content-general-domain table i.upicon {
    position: relative;
    top: 4px;
}
.content-general-domain a.domain-action {
    color: #777777;
    margin-right: 0.5em;
}
.content-general-domain a.domain-action:hover {
    text-decoration: none;
}
.content-antileech .checkbox label {
    margin: 0 1em;
    position: relative;
    top: -2px;
}
.btn-addips {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px dashed #EDEDED;
    color: #02A3C6;
    display: inline-block;
    margin: 28px auto 0;
    padding: 28px 110px;
}
.btn-addips:hover {
    background: none repeat scroll 0 0 #F7FCFF;
    border-color: #02A3C6;
    color: #02A3C6;
}
.btn-addips i {
    font-size: 26px;
    margin-right: 18px;
    top: -5px;
    vertical-align: middle;
}
.btn-addips .vertical-ac {
    color: #02A3C6;
    font-size: 18px;
    position: relative;
    top: 2px;
}
.tabbable .nav-tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F4F4F4 #F4F4F4 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    height: 50px;
    min-width: 160px;
}
.tabbable .nav-tabs li a {
    border: 0 none;
    height: 50px;
}
.tabbable .nav-tabs li.active:after {
    background: none repeat scroll 0 0 #02A4C4;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    top: -1px;
    width: 100%;
}
.table-control {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #777777;
    height: 38px;
    line-height: 38px;
    padding-left: 0.5em;
    width: 100%;
}
.content-antileech-domain .radio {
    margin: 1em;
}
.content-antileech-domain .tab-content {
    border: 1px solid #F4F4F4;
    padding: 20px;
}
.content-antileech-token form label {
    margin-left: 20px;
    width: 60px;
}
.content-antileech-token form .button-submit {
    margin-left: 80px;
}
.content-antileech-customtips ul.list-custom-tip {
    margin-bottom: 3em;
}
.content-antileech-customtips ul.list-custom-tip li {
    display: inline-block;
    position: relative;
    width: 33%;
}
.content-antileech-customtips ul.list-custom-tip h4 {
    color: #999999;
    font-size: 14px;
    padding-left: 1em;
}
.content-antileech-customtips .custom-tip-pic {
    background: none repeat scroll 0 0 #FAFAFA;
    border-radius: 4px;
    display: table;
    height: 200px;
    padding: 10px;
    text-align: center;
    width: 200px;
}
.content-antileech-customtips .custom-tip-pic .pics {
    display: table-cell;
    vertical-align: middle;
}
.content-antileech-customtips .custom-tip-pic img {
    border: 2px dashed #E8E8E8;
    max-height: 180px;
    max-width: 180px;
}
.content-antileech-customtips .upload-button {
    display: block;
    margin-left: -180px;
}
.content-antileech-customtips button.btn {
    bottom: -36px;
    left: 50px;
    position: absolute;
}
.checkout-code {
    font-size: 12px;
    margin-bottom: 1em;
    text-align: right;
    text-decoration: underline;
}
.checkout-detail {
    background: none repeat scroll 0 0 #FAFAFA;
    border-top: 2px solid #DEE1E3;
    clear: left;
    padding: 20px 20px 20px 0;
    text-align: right;
}
.checkout-detail p {
    color: #999999;
}
.checkout-detail p span {
    color: #444444;
}
.checkout-discount .checkout-discount-value {
    background: none repeat scroll 0 0 #7CAD73;
    color: #FFFFFF;
    margin: 20px 0;
}
.checkout-discount-point .checkout-discount-point-value {
    background: none repeat scroll 0 0 #FECC64;
    color: #FFFFFF;
}
.checkout-price {
    border-top: 1px dashed #C4CFD1;
    padding: 1em 0;
    text-align: right;
}
.checkout-detail .checkout-price-value {
    color: #FF4633;
    font-size: 20px;
}
.btn-submit-order {
    margin: 20px 20px 0;
}
.content-deal-buy .tab-content {
    border: 1px solid #F7F7F7;
    padding: 20px;
}
.content-deal-buy .tabbable .nav-tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #F4F4F4 #F4F4F4 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    height: 50px;
    margin-right: -2px;
    width: 160px;
}
.content-deal-buy .tabbable .nav-tabs li a {
    border: 0 none;
    height: 50px;
    line-height: 50px;
}
.content-deal-buy .tabbable .nav-tabs li.active {
    border-top: 2px solid #02A4C4;
}
.content-deal-buy .deal-order {
    border-top: 0 none;
    margin-bottom: 20px;
}
.content-deal-buy .well .table-striped tbody th, .content-deal-buy .well .table-striped tbody td {
    background: none repeat scroll 0 0 #FFFFFF;
}
.content-deal-buy .help-quota {
    margin-bottom: 1em;
    margin-top: -6px;
}
.order-chart {
    height: 60px;
    width: 100%;
}
.order-chart .chart-label {
    margin-top: 10px;
}
.order-chart .chart-label span {
    color: #999999;
    display: inline-block;
    margin-right: 20px;
    width: 150px;
}
.order-chart .chart-label span:before {
    content: " ";
    display: inline-block;
    height: 10px;
    margin-right: 4px;
    width: 20px;
}
.order-chart .chart-label span.chart-label-used:before {
    background: none repeat scroll 0 0 #CCDBE4;
}
.order-chart .chart-label span.chart-label-buy:before {
    background: none repeat scroll 0 0 #FDD283;
}
.order-chart .chart-graph {
    margin-top: 1.5em;
}
.order-chart .chart-graph span {
    display: inline-block;
    float: left;
    height: 26px;
}
.order-chart .chart-bar-used {
    background-color: #CCDBE4;
}
.order-chart .chart-bar-buy {
    background-color: #FDD283;
}
.order-calc {
    border: 1px dashed #DDDDDD;
    border-radius: 8px;
    height: 120px;
    min-width: 540px;
    padding: 0 20px;
    position: relative;
    top: 50px;
}
.order-calc table {
    height: 80px;
    margin: 20px auto;
}
.order-calc th {
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 0.5em;
    text-align: center;
}
.order-calc .input-group-buy-quota {
    width: 120px;
}
.order-calc-num {
    background: none repeat scroll 0 0 #FAFAFA;
    border-radius: 8px;
    color: #3A9BDF;
    height: 50px;
    padding: 0 1em;
}
.order-calc-op {
    color: #999999;
    font-size: 40px;
    height: 50px;
    line-height: 40px;
    padding: 0 0.5em;
}
.checkout {
    margin-top: 90px;
}
.checkout-tab .checkout-code {
    text-align: left;
}
.checkout-detail form {
    color: #999999;
    font-size: 12px;
    margin-left: 1em;
}
.checkout .form-group {
    margin-bottom: 0;
}
.checkout-detail .input-discount-code {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 1.42857;
    vertical-align: middle;
    width: 66px;
}
.content-deal-history table .status span {
    margin-left: 1em;
    position: relative;
    top: -7px;
}
.alert-overdue {
    margin-top: 80px;
}
.alert-purge {
    margin-top: 3em;
}
.content-account .panel {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 20px;
}
.content-account .panel-heading {
    border-radius: 2px;
    height: 50px;
    padding: 0;
}
.content-account .panel-heading i {
    margin-right: 1.5em;
    position: relative;
    top: 3px;
}
.content-account .panel:hover {
    background: none repeat scroll 0 0 #F7FCFF;
    border: 1px solid #DDF2FF;
}
.content-account .panel .accordion-toggle {
    display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.content-account .panel-heading-label {
    display: inline-block;
}
.content-account .panel-heading-edit {
    color: #999999;
}
.content-account .panel-heading-edit:hover {
    color: #02A3C6;
}
.content-account .verify-status {
    font-size: 12px;
}
.content-account .panel-open {
    background: none repeat scroll 0 0 #F7FCFF;
    border-color: #DDF2FF;
}
.content-account .panel-open .panel-heading {
    border-bottom: 1px dashed #D7E9F4;
}
.content-account .panel-form {
    margin-top: 10px;
}
.content-account .panel-form .control-label {
    color: #999999;
    font-size: 14px;
}
.content-account .panel-open .panel-value {
    display: none;
}
.content-log .log-selection {
    width: 25%;
}
.content-log .nav-log {
    bottom: -1em;
    position: relative;
}
.content-log .nav-log a {
    color: #999999;
}
.content-log .nav-log a:hover {
    color: #02A3C6;
    text-decoration: none;
}
.content-log .nav-log li {
    margin-left: 10px;
    padding: 0;
}
.content-log .nav-log li.active {
    border-bottom: 3px solid #02A3C6;
}
.content-log i.upicon-download {
    position: relative;
    top: 4px;
}
.sep-sign-selection {
    margin-left: 1em;
}
.btn-change-separator {
    margin-left: 2em;
    position: relative;
    top: 2px;
}
.list-thumbs {
    list-style: none outside none;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0;
}
.list-thumbs li {
    background: none repeat scroll 0 0 #FAFAFA;
    margin-bottom: 10px;
    min-height: 190px;
    padding-left: 190px;
    position: relative;
}
.list-thumbs .thumbs-ep {
    border: 1px solid #FFFFFF;
    height: 150px;
    left: 0;
    margin: 20px;
    position: absolute;
    top: 0;
    width: 150px;
}
.list-thumbs .thumbs-info {
    margin-right: 20px;
}
.list-thumbs .thumbs-info-header {
    border-bottom: 1px dashed #DDDDDD;
    height: 70px;
    margin-bottom: 1.5em;
}
.list-thumbs .thumbs-info-header h4, .list-thumbs .thumbs-info-header span {
    height: 70px;
    line-height: 70px;
}
.list-thumbs .thumbs-info-body {
    width: 100%;
}
.list-thumbs .thumbs-info-body td {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 0.4em 1.5em;
}
.list-thumbs .thumbs-info-body th {
    color: #999999;
    font-size: 14px;
    padding: 0.5em 1.5em;
}
.list-thumbs .thumbs-info-body th.table-cell-exif {
    width: 15%;
}
.list-thumbs .thumbs-info-body th.th-1 {
    width: 250px;
}
.content-flow .nav-flow {
    bottom: -1em;
    position: relative;
}
.content-flow .nav-flow a {
    color: #999999;
}
.content-flow .nav-flow a:hover {
    color: #02A3C6;
    text-decoration: none;
}
.content-flow .nav-flow li {
    margin-left: 10px;
    padding: 0;
}
.content-flow .nav-flow li.active {
    border-bottom: 3px solid #02A3C6;
}
.content-flow .date-range-picker .form-control {
    height: 30px;
    margin-right: 2em;
    width: auto;
}
.content-flow .date-range-picker .dropdown-menu {
    width: 450px;
}
.content-flow .list-date-range a {
    font-size: 14px;
}
.content-flow .tabs-flow {
    border: 1px solid #F4F4F4;
    margin-top: 100px;
    position: relative;
}
.content-flow .tab-flow-header {
    height: 50px;
    position: relative;
    top: -50px;
}
.content-flow .tab-flow-header a.tab-heading {
    display: table-cell;
}
.content-flow .tab-flow-content {
    padding: 20px;
}
.content-flow .tab-flow-content h3 {
    border-bottom: 1px solid #DDDDDD;
    color: #777777;
    font-size: 14px;
    margin: 0 auto;
    padding-bottom: 5px;
    text-align: center;
    width: 96%;
}
.flow-domain li {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #F4F4F4;
}
.flow-domain li.active {
    border-top: 2px solid #02A4C4;
}
.content-flow .btn-group-flow-date-range {
    position: absolute;
    right: 1em;
    top: 1em;
}
.content-flow .btn-group-flow-date-range a {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.content-flow .btn-group-flow-date-range .sep {
    color: #DDDDDD;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.content-flow .sort {
    cursor: pointer;
    position: relative;
    top: 2px;
}
.content-log .tab-log-header {
    height: 50px;
    position: relative;
    top: 0;
}
.content-log .tab-log-header a.tab-heading {
    display: table-cell;
}
.content-log .tabbable .nav-tabs li {
    overflow: hidden;
    width: 160px;
}
.content-log .tabbable .nav-tabs li:hover {
    width: auto;
}
.content-log .tabbable .nav-tabs li.active {
    width: auto;
}
.content-log .tabbable .nav-tabs li a {
    padding: 0 10px;
}
.content-log .tab-log-content {
    border: 1px solid #F4F4F4;
    padding: 20px;
}
.log-timeline {
    background: none repeat scroll 0 0 #D9EDF7;
    border: 1px solid #BCE8F1;
    border-radius: 2px;
    height: 100px;
    margin-bottom: 20px;
}
.log-timeline-line {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 4px;
    margin: 63px 20px 0 135px;
    position: relative;
}
.log-timeline-line-label {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #444444;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    left: -115px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -13px;
    width: 110px;
}
.log-timeline-line-spot-wrap {
    display: inline-block;
    position: relative;
    text-align: center;
    top: -8px;
    width: 13.5%;
}
.log-timeline-download .log-timeline-line-spot-wrap {
    width: 9.5%;
}
.log-timeline-line-spot {
    background-image: url("../../images/log-timeline-spot.png");
    background-position: 0 0;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.log-timeline-line-spot:hover {
    background-position: -30px 0;
}
.log-timeline-line-spot:active, .active .log-timeline-line-spot {
    background-position: -60px 0;
}
.log-timeline .tooltip {
    left: 50%;
    margin-left: -30px;
    top: -33px;
}
.log-timeline .active .tooltip, .log-timeline .log-timeline-line-spot-wrap:hover .tooltip {
    opacity: 0.9;
}
.log-timeline .tooltip-inner {
    background: none repeat scroll 0 0 #02A3C6;
    padding: 2px 12px;
    text-align: center;
}
.log-timeline .tooltip.top .tooltip-arrow {
    border-top-color: #02A3C6;
}
.content-log .tab-content {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #F4F4F4 #F4F4F4;
    border-image: none;
    border-right: 1px solid #F4F4F4;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 20px;
}
.content-log .tabbable {
    position: relative;
}
.content-log .btn-group-log-date-range {
    position: absolute;
    right: 1em;
    top: 1em;
}
.content-log .btn-group-log-date-range a {
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.content-log .btn-group-log-date-range .sep {
    color: #DDDDDD;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}
.modal-body-split-config .input-dropdown {
    position: relative;
    top: 5px;
}
.modal-body-split-config .input-dropdown-sm .form-control {
    width: 100px;
}
.modal-body-split-config .split-config-inst {
    margin: 35px 0 30px;
}
.content-account-operators td {
    color: #444444;
}
.content-account-operators .upicon {
    position: relative;
    top: 4px;
}
.content-account-operators a.operator-action {
    color: #777777;
    margin-right: 0.5em;
}
.content-account-operators a:hover {
    text-decoration: none;
}
.content-toolbox-purge textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto;
    width: 98%;
}
.content-toolbox-purge .btn {
    margin-top: 0.5em;
}
.content-failure {
    color: #777777;
    font-size: 14px;
}
.content-failure .list-feedback li {
    background: none repeat scroll 0 0 #FAFAFA;
    border-radius: 2px;
    display: inline-block;
    height: 200px;
    margin-right: 12px;
    width: 31%;
}
.content-failure .list-feedback li i {
    display: block;
    margin: 36px auto 48px;
}
.content-failure .list-feedback li div {
    text-align: center;
}
.operators-list {
    height: 120px;
    margin-left: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.operators-list label {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 10px;
    width: 30%;
}
.operators-list input {
    margin-right: 1em;
}
.modal-container {
    margin: 0 auto;
    width: 60%;
}
.modal-body .mg-lr-1em {
    margin: auto 1em;
}
.modal-body-thumbs {
    background: none repeat scroll 0 0 #ECF4F9;
    overflow-y: visible;
}
.modal-body-thumbs .up-tab-nav {
    float: left;
    text-align: center;
    width: 100px;
}
.modal-body-thumbs .up-tab-nav ul li {
    color: #999999;
    height: 60px;
    line-height: 60px;
}
.modal-body-thumbs .up-tab-nav ul li.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 4px solid #02A4C4;
    color: #02A3C6;
}
.modal-body-thumbs .up-tab-nav ul li input {
    margin-right: 10px;
}
.modal-body-thumbs .up-tab-content {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #999999;
    float: left;
    height: 320px;
    padding: 15px 0;
    width: 460px;
}
.modal-body-thumbs .up-tab-content .well {
    font-size: 12px;
}
.modal-body-thumbs .value-board {
    background: none repeat scroll 0 0 #F3F5F7;
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px;
}
.modal-body-thumbs .preview {
    background: url("../../images/img-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
    display: inline-block;
    height: 260px;
    line-height: 260px;
    margin-top: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 260px;
}
.modal-body-thumbs .preview a {
    -moz-user-select: none;
    display: inline-block;
}
.modal-body-thumbs .preview img {
    max-width: 260px;
}
.modal-body-thumbs .btn-refresh {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    border: 0 none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    bottom: 0;
    color: #FFFFFF;
    cursor: pointer;
    height: 42px;
    left: 0;
    line-height: 42px;
    position: absolute;
    text-align: center;
    width: 260px;
}
.modal-body-thumbs .btn-refresh:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    text-decoration: none;
}
.modal-body-thumbs .btn-refresh[disabled], .modal-body-thumbs .btn-refresh[disabled]:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
}
.modal-body-thumbs .btn-refresh:active {
    background: none repeat scroll 0 0 #000000;
}
.modal-body-thumbs .up-tab-addon-tips {
    color: #777777;
    font-size: 12px;
    margin-top: 0.5em;
    text-align: center;
}
.modal-body-thumbs .form-group, .modal-body-thumbs .well {
    margin: 0 20px;
}
.modal-body-thumbs .form-group .control-label {
    display: inline-block;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0;
    text-align: right;
    width: 5em;
}
.modal-body-thumbs .form-control-section {
    float: left;
    width: 68%;
}
.modal-body-thumbs .up-tab-addon {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 320px;
    margin-left: 5px;
    padding: 15px;
    width: 290px;
}
.modal-body-thumbs .thumbs-size .form-control {
    display: inline-block;
    width: 6.5em;
}
.modal-body-thumbs .thumbs-size span {
    margin: 0 1em;
}
.modal-body-thumbs .help-block {
    margin-left: 6.5em;
    position: relative;
    top: -10px;
}
.modal-body-thumbs .form-group-upload-watermark {
    margin-bottom: 5px;
}
.modal-body-thumbs .control-label-upload-watermark {
    position: relative;
    top: 8px;
}
.modal-body-thumbs .form-control-section-upload {
    height: 54px;
}
.modal-body-thumbs .upload-watermark {
    background: none repeat scroll 0 0 #F3F5F7;
    border: 1px dashed #DDDDDD;
    color: #8B969F;
    font-size: 14px;
    height: 54px;
    line-height: 50px;
    text-align: center;
    width: 194px;
}
.modal-body-thumbs .input-upload-watermark {
    height: 54px;
    opacity: 0;
    position: relative;
    top: -54px;
    width: 194px;
}
.modal-body-thumbs .section-watermark-img img {
    height: 40px;
}
.modal-body-thumbs .section-watermark-img img, .modal-body-thumbs .section-watermark-img {
    width: 195px;
}
.modal-body-thumbs .watermark-position {
    margin-right: 10px;
    width: 195px;
}
.modal-body-thumbs .watermark-position td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    height: 35px;
    width: 64px;
}
.modal-body-thumbs .watermark-position td:hover, .modal-body-thumbs .watermark-position td.active {
    background: none repeat scroll 0 0 #02A3C6;
}
.modal-body-thumbs .dis-to-left {
    margin-top: 1em;
}
.modal-body-thumbs .form-group-fw {
    width: 295px;
}
.modal-body-thumbs .form-group {
    margin-bottom: 1em;
}
@media screen and (max-width: 1000px) and (min-height: 568px) {
html, body {
    height: 100%;
}
.up-container {
    overflow: hidden;
}
.control-panel {
    left: 0;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    position: absolute;
    top: 0;
}
.wrapper {
    margin-left: 0;
    min-height: 768px;
    padding-left: 200px;
}
}
@media screen and (max-height: 500px) {
html, body {
    height: 100%;
}
.up-container {
    min-height: 500px;
    overflow: hidden;
}
.control-panel {
    left: 0;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    position: absolute;
    top: 0;
}
.login-info {
    background: none repeat scroll 0 0 #2E3337;
    left: auto;
}
.wrapper {
    margin-left: 0;
    min-height: 568px;
    padding-left: 200px;
}
}
.logo-login {
    background: url("../../images/upyun_logo.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.login-username, .login-password, .login-hr {
    background: url("../../images/login.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.body-login {
    background: none repeat scroll 0 0 #F6F6F1;
}
.form-login {
    margin: 10em auto 20px;
    width: 254px;
}
.form-login-lg {
    width: 300px;
}
.form-login h2 {
    margin-bottom: 40px;
    text-align: center;
}
.form-login .logo-login {
    background-position: 0 0;
    display: inline-block;
    height: 24px;
    text-indent: -9999em;
    width: 122px;
}
.form-login .form-control {
    background: none repeat scroll 0 0 #E7E7E7;
    border: 1px solid #E8E8E8;
    color: #777777;
    height: 40px;
    margin-bottom: 10px;
    padding-right: 32px;
}
.form-login .form-control:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E8E8E8;
    transition: all 0.5s ease-in 0s;
}
.form-login .form-group {
    margin-bottom: 10px;
    position: relative;
}
.form-login .login-username, .form-login .login-password {
    background-position: 0 -40px;
    display: inline-block;
    height: 20px;
    position: absolute;
    right: 8px;
    top: 10px;
    width: 20px;
}
.form-login .ng-invalid + .login-username {
    background-position: 0 -110px;
}
.form-login .focus .login-username, .form-login .ng-pristine + .login-username {
    background-position: 0 -70px;
}
.form-login .login-password {
    background-position: -40px -40px;
}
.form-login .ng-invalid + .login-password {
    background-position: -40px -110px;
}
.form-login .focus .login-password, .form-login .ng-pristine + .login-password {
    background-position: -40px -70px;
}
.form-login .ng-invalid, .form-login .ng-invalid:focus {
    background: none repeat scroll 0 0 #FFFDE2;
    border-color: #FFE5C1;
}
.form-login .ng-pristine.ng-invalid-required, .form-login .ng-pristine {
    background-color: #FFFFFF;
    border-color: #E8E8E8;
}
.form-login .login-auto {
    color: #444444;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
}
.form-login .btn-login {
    height: 40px;
    width: 100%;
}
.form-login .lost-pw {
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.form-login .lost-pw a {
    color: #B7BBBC;
    font-size: 12px;
}
.form-login .login-hr {
    background-position: 0 -305px;
    border: 0 none;
    display: block;
    height: 5px;
    margin-top: 0;
    width: 100%;
}
.form-login-lg .login-hr {
    background-position: 25px -305px;
}
.form-login .reg {
    color: #B7BBBC;
    font-size: 12px;
    margin-top: 24px;
    text-align: center;
}
.form-login .reg a {
    color: #02A3C6;
}
.form-login .tooltip {
    position: relative;
}
.form-login .tooltip .tooltip-inner {
    max-width: 254px;
    text-align: center;
}
.body-login h2 {
    color: #B1B1B1;
    font-size: 20px;
    margin: 60px auto 16px;
    text-align: center;
}
.section-form {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 auto 50px;
    padding-bottom: 10px;
    width: 620px;
}
.form-register {
    border-top: 2px solid #01A4C4;
    margin: 0 25px;
    padding-top: 45px;
    position: relative;
    top: -2px;
}
.form-register .underline-radio {
    color: #3A3A3A;
    margin-right: 30px;
}
.form-register .underline-radio:hover {
    text-decoration: none;
}
.form-register .underline-radio.active {
    border-bottom: 2px solid #70C1D3;
}
.form-register .help-submit a {
    color: #B8B8B8;
    font-size: 12px;
    margin-left: 20px;
}
.form-register label {
    color: #777777;
}
.form-register legend {
    color: #B8B8B8;
    font-size: 14px;
}
.form-register .sep-ormark {
    background: url("../../images/or.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 36px;
    left: 4.5em;
    position: absolute;
    top: -2px;
    width: 22px;
}
.form-register .login-hr {
    background-position: -60px -305px;
    border: 0 none;
    display: block;
    height: 5px;
    margin: 20px auto 10px 0;
    width: 80%;
}
.form-lostpass .control-label {
    width: 90px;
}
.form-lostpass .control-wrap {
    float: left;
    width: 210px;
}
.btn-find-pwd {
    display: block;
    margin: 10px auto;
    width: 100%;
}
.content {
    max-width: 1300px;
}
.content-dashboard, .content-detail {
    max-width: 5000px;
    width: 100%;
}
.content .btn-action {
    display: inline;
    margin-left: 3px;
    margin-right: 0;
}
p.trial-tips {
    color: #E85952;
    left: 40%;
    position: absolute;
    top: 100px;
}
.up-scrollbar {
}
.modal-body-config-cdn .cdn-config-steps {
    margin-bottom: 2em;
    text-align: center;
}
.modal-body-config-cdn .cdn-config-content {
    padding: 0 2em;
}
.modal-body-config-cdn .cdn-config-content ul {
    padding: 0 2em;
}
.modal-body-config-cdn .cdn-config-steps li {
    font-size: 16px;
    padding: 0;
}
.modal-body-config-cdn .cdn-config-steps ul > li + li:before {
    color: #CCCCCC;
    content: ">";
    padding: 0 5px;
}
.modal-body-config-cdn .cdn-config-steps {
    margin-bottom: 3em;
    padding-left: 12px;
}
.modal-body-config-cdn .cdn-config-steps span {
    background-image: url("../../images/steps_cdn_img.png");
    display: inline-block;
    height: 30px;
    width: 195px;
}
.modal-body-config-cdn .cdn-config-step1 {
    background-position: 0 0;
}
.modal-body-config-cdn .cdn-config-step2 {
    background-position: -197px -40px;
}
.modal-body-config-cdn .cdn-config-step3 {
    background-position: -394px -40px;
}
.cdn-config-steps-2 .cdn-config-step1 {
    background-position: 0 -40px;
}
.cdn-config-steps-2 .cdn-config-step2 {
    background-position: -197px 0;
}
.cdn-config-steps-3 .cdn-config-step1 {
    background-position: 0 -40px;
}
.cdn-config-steps-3 .cdn-config-step3 {
    background-position: -394px 0;
}
.chart-lenged {
    left: 295px;
    position: absolute;
    top: 110px;
}
.chartItem {
    position: relative;
}
.chartItem .chart-lenged {
    left: 10px;
    top: 20px;
}
.betamark {
    color: #666666;
    font-size: 9px;
    position: absolute;
    top: -10px;
}
.list-helper {
    height: 44px;
    line-height: 44px;
    margin-right: 20px;
}
.list-helper a {
    color: #999999;
}
.growl {
    float: right;
    position: fixed;
    right: 10px;
    top: 30px;
    width: 200px;
    z-index: 3000;
}
.growl-item.ng-enter, .growl-item.ng-leave {
    transition: all 0.5s linear 0s;
}
.growl-item.ng-enter, .growl-item.ng-leave.ng-leave-active {
    opacity: 0;
}
.growl-item.ng-leave, .growl-item.ng-enter.ng-enter-active {
    opacity: 1;
}
#loading-bar, #loading-bar-spinner {
    pointer-events: none;
    transition: all 0.5s linear 0s;
}
#loading-bar.ng-enter, #loading-bar.ng-leave.ng-leave-active, #loading-bar-spinner.ng-enter, #loading-bar-spinner.ng-leave.ng-leave-active {
    opacity: 0;
}
#loading-bar.ng-enter.ng-enter-active, #loading-bar.ng-leave, #loading-bar-spinner.ng-enter.ng-enter-active, #loading-bar-spinner.ng-leave {
    opacity: 1;
}
#loading-bar .bar {
    background: none repeat scroll 0 0 #2299DD;
    height: 2px;
    left: 0;
    position: fixed;
    top: 0;
    transition: width 500ms ease 0s;
    width: 100%;
    z-index: 2000;
}
#loading-bar .peg {
    box-shadow: 0 0 10px #2299DD, 0 0 5px #2299DD;
    display: block;
    height: 100%;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0px, -4px);
    width: 100px;
}
#loading-bar-spinner {
    bottom: 10px;
    display: block;
    position: fixed;
    right: 10px;
    z-index: 1020;
}
#loading-bar-spinner .spinner-icon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 400ms linear 0s normal none infinite loading-bar-spinner;
    border-color: #2299DD rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #2299DD;
    border-image: none;
    border-radius: 10px;
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 2px;
    height: 14px;
    width: 14px;
}
@-moz-keyframes loading-bar-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
@-moz-keyframes loading-bar-spinner {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}
.chartWrap {
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.nvtooltip.with-3d-shadow, .with-3d-shadow .nvtooltip {
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nvtooltip {
    -moz-user-select: none;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: Arial;
    font-size: 13px;
    padding: 1px;
    pointer-events: none;
    position: absolute;
    text-align: left;
    white-space: nowrap;
    z-index: 10000;
}
.nvtooltip.with-transitions, .with-transitions .nvtooltip {
    transition: opacity 250ms linear 250ms;
}
.nvtooltip.x-nvtooltip, .nvtooltip.y-nvtooltip {
    padding: 8px;
}
.nvtooltip h3 {
    background-color: rgba(247, 247, 247, 0.75);
    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin: 0;
    padding: 4px 14px;
    text-align: center;
}
.nvtooltip p {
    margin: 0;
    padding: 5px 14px;
    text-align: center;
}
.nvtooltip span {
    display: inline-block;
    margin: 2px 0;
}
.nvtooltip table {
    border-spacing: 0;
    margin: 6px;
}
.nvtooltip table td {
    padding: 2px 9px 2px 0;
    vertical-align: middle;
}
.nvtooltip table td.key {
    font-weight: 400;
}
.nvtooltip table td.value {
    font-weight: 700;
    text-align: right;
}
.nvtooltip table tr.highlight td {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-top-width: 1px;
    padding: 1px 9px 1px 0;
}
.nvtooltip table td.legend-color-guide div {
    height: 8px;
    vertical-align: middle;
    width: 8px;
}
.nvtooltip .footer {
    padding: 3px;
    text-align: center;
}
.nvtooltip-pending-removal {
    pointer-events: none;
    position: absolute;
}
svg {
    -moz-user-select: none;
    display: block;
    height: 100%;
    width: 100%;
}
svg text {
    font: 400 12px Arial;
}
svg .title {
    font: 700 14px Arial;
}
.nvd3 .nv-background {
    fill: #FFFFFF;
    fill-opacity: 0;
}
.nvd3.nv-noData {
    font-size: 18px;
    font-weight: 700;
}
.nv-brush .extent {
    fill-opacity: 0.125;
    shape-rendering: crispedges;
}
.nvd3 .nv-legend .nv-series {
    cursor: pointer;
}
.nvd3 .nv-legend .disabled circle {
    fill-opacity: 0;
}
.nvd3 .nv-axis {
    pointer-events: none;
}
.nvd3 .nv-axis path {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000000;
    stroke-opacity: 0.75;
}
.nvd3 .nv-axis path.domain {
    stroke-opacity: 0.75;
}
.nvd3 .nv-axis.nv-x path.domain {
    stroke-opacity: 0;
}
.nvd3 .nv-axis line {
    fill: none;
    shape-rendering: crispedges;
    stroke: #E5E5E5;
}
.nvd3 .nv-axis .zero line, .nvd3 .nv-axis line.zero {
    stroke-opacity: 0.75;
}
.nvd3 .nv-axis .nv-axisMaxMin text {
    font-weight: 700;
}
.nvd3 .x .nv-axis .nv-axisMaxMin text, .nvd3 .x2 .nv-axis .nv-axisMaxMin text, .nvd3 .x3 .nv-axis .nv-axisMaxMin text {
    text-anchor: middle;
}
.nv-brush .resize path {
    fill: #EEEEEE;
    stroke: #666666;
}
.nvd3 .nv-bars .negative rect {
}
.nvd3 .nv-bars rect {
    fill-opacity: 0.75;
    transition: fill-opacity 250ms linear 0s;
}
.nvd3 .nv-bars rect.hover {
    fill-opacity: 1;
}
.nvd3 .nv-bars .hover rect {
    fill: #ADD8E6;
}
.nvd3 .nv-bars text {
    fill: rgba(0, 0, 0, 0);
}
.nvd3 .nv-bars .hover text {
    fill: #000000;
}
.nvd3 .nv-multibar .nv-groups rect, .nvd3 .nv-multibarHorizontal .nv-groups rect, .nvd3 .nv-discretebar .nv-groups rect {
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear 0s;
}
.nvd3 .nv-multibar .nv-groups rect:hover, .nvd3 .nv-multibarHorizontal .nv-groups rect:hover, .nvd3 .nv-discretebar .nv-groups rect:hover {
    fill-opacity: 1;
}
.nvd3 .nv-discretebar .nv-groups text, .nvd3 .nv-multibarHorizontal .nv-groups text {
    fill: #000000;
    font-weight: 700;
    stroke: rgba(0, 0, 0, 0);
}
.nvd3.nv-pie path {
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear 0s, stroke-width 250ms linear 0s, stroke-opacity 250ms linear 0s;
}
.nvd3.nv-pie .nv-slice text {
    stroke: #000000;
    stroke-width: 0;
}
.nvd3.nv-pie path {
    stroke: #FFFFFF;
    stroke-opacity: 1;
    stroke-width: 1px;
}
.nvd3.nv-pie .hover path {
    fill-opacity: 0.7;
}
.nvd3.nv-pie .nv-label {
    pointer-events: none;
}
.nvd3.nv-pie .nv-label rect {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3 .nv-groups path.nv-line {
    fill: none;
    stroke-width: 1.5px;
}
.nvd3 .nv-groups path.nv-line.nv-thin-line {
    stroke-width: 1px;
}
.nvd3 .nv-groups path.nv-area {
    stroke: none;
}
.nvd3 .nv-line.hover path {
    stroke-width: 6px;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3.nv-scatter.nv-single-point .nv-groups .nv-point {
    fill-opacity: 0.5 !important;
    stroke-opacity: 0.5 !important;
}
.with-transitions .nvd3 .nv-groups .nv-point {
    transition: stroke-width 250ms linear 0s, stroke-opacity 250ms linear 0s;
}
.nvd3.nv-scatter .nv-groups .nv-point.hover, .nvd3 .nv-groups .nv-point.hover {
    fill-opacity: 0.95 !important;
    stroke-opacity: 0.95 !important;
    stroke-width: 7px;
}
.nvd3 .nv-point-paths path {
    fill: #EEEEEE;
    fill-opacity: 0;
    stroke: #AAAAAA;
    stroke-opacity: 0;
}
.nvd3 .nv-indexLine {
    cursor: ew-resize;
}
.nvd3 .nv-distribution {
    pointer-events: none;
}
.nvd3 .nv-groups .nv-point.hover {
    stroke-opacity: 0.5;
    stroke-width: 20px;
}
.nvd3 .nv-scatter .nv-point.hover {
    fill-opacity: 1;
}
.nvd3.nv-stackedarea path.nv-area {
    fill-opacity: 0.7;
    stroke-opacity: 0;
    transition: fill-opacity 250ms linear 0s, stroke-opacity 250ms linear 0s;
}
.nvd3.nv-stackedarea path.nv-area.hover {
    fill-opacity: 0.9;
}
.nvd3.nv-stackedarea .nv-groups .nv-point {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3.nv-linePlusBar .nv-bar rect {
    fill-opacity: 0.75;
}
.nvd3.nv-linePlusBar .nv-bar rect:hover {
    fill-opacity: 1;
}
.nvd3.nv-bullet {
    font: 10px sans-serif;
}
.nvd3.nv-bullet .nv-measure {
    fill-opacity: 0.8;
}
.nvd3.nv-bullet .nv-measure:hover {
    fill-opacity: 1;
}
.nvd3.nv-bullet .nv-marker {
    stroke: #000000;
    stroke-width: 2px;
}
.nvd3.nv-bullet .nv-markerTriangle {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-width: 1.5px;
}
.nvd3.nv-bullet .nv-tick line {
    stroke: #666666;
    stroke-width: 0.5px;
}
.nvd3.nv-bullet .nv-range.nv-s0 {
    fill: #EEEEEE;
}
.nvd3.nv-bullet .nv-range.nv-s1 {
    fill: #DDDDDD;
}
.nvd3.nv-bullet .nv-range.nv-s2 {
    fill: #CCCCCC;
}
.nvd3.nv-bullet .nv-title {
    font-size: 14px;
    font-weight: 700;
}
.nvd3.nv-bullet .nv-subtitle {
    fill: #999999;
}
.nvd3.nv-bullet .nv-range {
    fill: #BABABA;
    fill-opacity: 0.4;
}
.nvd3.nv-bullet .nv-range:hover {
    fill-opacity: 0.7;
}
.nvd3.nv-sparkline path {
    fill: none;
}
.nvd3.nv-sparklineplus g.nv-hoverValue {
    pointer-events: none;
}
.nvd3.nv-sparklineplus .nv-hoverValue line {
    stroke: #333333;
    stroke-width: 1.5px;
}
.nvd3.nv-sparklineplus, .nvd3.nv-sparklineplus g {
    pointer-events: all;
}
.nvd3 .nv-hoverArea {
    fill-opacity: 0;
    stroke-opacity: 0;
}
.nvd3.nv-sparklineplus .nv-xValue, .nvd3.nv-sparklineplus .nv-yValue {
    font-size: 0.9em;
    font-weight: 400;
    stroke-width: 0;
}
.nvd3.nv-sparklineplus .nv-yValue {
    stroke: #FF6666;
}
.nvd3.nv-sparklineplus .nv-maxValue {
    fill: #2CA02C;
    stroke: #2CA02C;
}
.nvd3.nv-sparklineplus .nv-minValue {
    fill: #D62728;
    stroke: #D62728;
}
.nvd3.nv-sparklineplus .nv-currentValue {
    font-size: 1.1em;
    font-weight: 700;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick {
    stroke-width: 2px;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.hover {
    stroke-width: 4px;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.positive {
    stroke: #2CA02C;
}
.nvd3.nv-ohlcBar .nv-ticks .nv-tick.negative {
    stroke: #D62728;
}
.nvd3.nv-historicalStockChart .nv-axis .nv-axislabel {
    font-weight: 700;
}
.nvd3.nv-historicalStockChart .nv-dragTarget {
    cursor: move;
    fill-opacity: 0;
    stroke: none;
}
.nvd3 .nv-brush .extent {
    fill-opacity: 0 !important;
}
.nvd3 .nv-brushBackground rect {
    fill: #FFFFFF;
    fill-opacity: 0.7;
    stroke: #000000;
    stroke-width: 0.4;
}
.nvd3.nv-indentedtree .name {
    margin-left: 5px;
}
.nvd3.nv-indentedtree .clickable {
    color: #0088CC;
    cursor: pointer;
}
.nvd3.nv-indentedtree span.clickable:hover {
    color: #005580;
    text-decoration: underline;
}
.nvd3.nv-indentedtree .nv-childrenCount {
    display: inline-block;
    margin-left: 5px;
}
.nvd3.nv-indentedtree .nv-treeicon {
    cursor: pointer;
}
.nvd3.nv-indentedtree .nv-treeicon.nv-folded {
    cursor: pointer;
}
.nvd3 .background path {
    fill: none;
    shape-rendering: crispedges;
    stroke: #CCCCCC;
    stroke-opacity: 0.4;
}
.nvd3 .foreground path {
    fill: none;
    stroke: #4682B4;
    stroke-opacity: 0.7;
}
.nvd3 .brush .extent {
    fill-opacity: 0.3;
    shape-rendering: crispedges;
    stroke: #FFFFFF;
}
.nvd3 .axis line, .axis path {
    fill: none;
    shape-rendering: crispedges;
    stroke: #000000;
}
.nvd3 .axis text {
    text-shadow: 0 1px 0 #FFFFFF;
}
.nvd3 .nv-interactiveGuideLine {
    pointer-events: none;
}
.nvd3 line.nv-guideline {
    stroke: #CCCCCC;
}



.has_response {background:#efefef; text-decoration:line-through;}
.unread {background:#a2d246; }
